[2015-06-30 19:46] luqmaan opened #1 "Austin Green Map"
**One sentence description:**

An app with all the parks in Austin. Offline, mobile-friendly, and easy to search for features and amenities.

**Link (more details/brain dump/alpha):**

http://open-austin.github.io/austingreenmap/
https://github.com/open-austin/austingreenmap/

**Project Needs (dev/design/resources):**

Design help needed! Specifically designing the app to work well on mobile.

**S

[2015-06-30 19:49] luqmaan opened #2 "Rent graphs"
**One sentence description:**

Graph the rent of various apartment complexes in Austin over time.

**Link (more details/brain dump/alpha):**

Run scrapers every day for each apartment complex and record the prices for a 12 month lease.

**Project Needs (dev/design/resources):**

Development help needed. Also legal. Scraping is legit, right? E.g. The craiglist vs padmapper lawsuit.

**Status (in pr

[2015-06-30 19:54] neogeo commented on #2
I like this idea. Austin apartment prices change daily, so this would be super useful.

[2015-06-30 22:44] luqmaan opened #3 "CapMetrics"
**One sentence description:**

In the center of town, the 1 feels faster than the 801. Is it?

**Link (more details/brain dump/alpha):**

All the data to answer this question lives at https://github.com/scascketta/CapMetrics. Somebody just needs to query it.

Some graphs would be cool.

**Project Needs (dev/design/resources):**

~~Statistics/data help needed. Anybody with R experience could really

[2015-07-01 17:34] chip-rosenthal opened #4 "hackpad embed module"
**One sentence description**

A module that can be embedded in the www.open-austin.org website that highlights recent hackpad activity.

**More details/brain dump/alpha:**

The Open Austin Hack Team keeps information at https://openaustin.hackpad.com/

It would be helpful to have some module that can be embedded into the website to highlight pads with recent activity.

Hackpad does have an API tha

[2015-07-01 19:40] luqmaan commented on #4
For an embedded Javascript thing we need CORS or a proxy.

It looks like Hackpad is working on supporting CORS https://hackpad.com/Hackpad-API-bugs-xVJvm6lxNL1#:h=-CORS

[2015-07-01 19:47] luqmaan commented on #4
Looks like List Updated Pads is an admin only API:

Request: GET /api/1.0/edited-since/{timestamp}
Path Elements:
timestamp: Number of seconds since midnight Jan 1, 1970
Response:
JSON array of pad IDs. Only the oldest 1000 pads are returned.
`["C0E68BD495E9","653AF8F23731","485CF7D83139","73B503942C26"]`

[2015-07-01 22:20] chip-rosenthal commented on #4
I hate the modern "let's ignore precedent and invent everything new" web development. This would be trivial if they provided an RSS feed.

I think the best bet may be to scrape. The content is marked up well enough to make this reasonable.

[2015-07-02 01:12] luqmaan commented on #4
Haha yes, even worse is that dumb rss logo on every page that isn't actually rss.

[2015-07-02 12:45] luqmaan commented on #4
Yeah either scraping the homepage or using their API from a wordpress plugin (ohboy) are the only viable options.

For the scraper:

- GET https://openaustin.hackpad.com/ with cookie `padlistSection=home` instead of `padlistSection=stream`
- Store the results somewhere accessible via cors/jsonp
- Setup a cron job

For a wordpress plugin via their API:

- Choose somebody's client/secret from hackpa

[2015-07-02 13:35] mateoclarke commented on #4
I've enjoyed using Hackpad but if the lack of integration is a deal breaker I don't think we are so invested in it that it would be hard for us to migrate to something that plugs into Wordpress or has embeds as a core feature.

And I don't think there is so much content posted on Hackpad that it requires a scrape. There are maybe 20 pads?

So it seems to me that we should investigate if there is s

[2015-07-05 19:48] johntyree commented on #3
Started here: https://github.com/open-austin/capture

Can compute trip duration and output to csv.

[2015-07-05 23:30] luqmaan commented on #3
Some inspiration http://mbtaviz.github.io/

[2015-07-06 00:03] luqmaan commented on #3
From the triangle to downtown, **the 801 is 4.7 minutes slower** than the 1.
From end to end, **the 801 is 25.4 minutes faster** than the 1.

[code]

[2015-07-06 00:23] johntyree commented on #3
:+1:   I'd be worried about using the mean though. It will penalize harshly for random delays and so on.  Would also be nice to slice this up by time of day somewhat. Is it always faster? Maybe just outside of rush hour traffic?

[2015-07-06 13:46] luqmaan commented on #3
Travel time by hour: https://docs.google.com/spreadsheets/d/1TzBumxSiu1_GIOpiTPSmR8I4r7-2COqzeZAu7HPWwb0/pubchart?oid=934384677&format=interactive

![image](https://cloud.githubusercontent.com/assets/1275831/8523452/169501e2-23bb-11e5-9f15-669318ee688c.png)

[code]

[2015-07-06 14:46] luqmaan commented on #3
Looks like the the 803 isn't worse than the 3.

https://docs.google.com/spreadsheets/d/1TzBumxSiu1_GIOpiTPSmR8I4r7-2COqzeZAu7HPWwb0/pubchart?oid=1714680943&format=interactive

![image](https://cloud.githubusercontent.com/assets/1275831/8524904/7b526afe-23c3-11e5-9cab-7679efeb238f.png)

I'm guessing the times are utc, which is why we see the gap in the "morning."

[code]

[code]

[2015-07-06 15:34] McCnnll commented on #3
Yeah, that's UTC. All you have to do is subtract five from the time.
It looks like the 803 is slower after 3pm in the evening rush hour.
At any rate, MetroRapid is not fast enough to justify the extra fare and inconvenience. (No stops between 26th and 38th!)

[2015-07-06 22:01] mateoclarke opened #5 "Mayor's Dashboard"
**One sentence description:**
The Mayor's Dashboard tracks key metrics and outcomes from the City of ~~Los Angeles~~ Austin.

**Link (more details/brain dump/alpha):**
http://datala.github.io/bradley-tower/
https://github.com/datala/bradley-tower

**Project Needs (dev/design/resources):**
Market Validation, would the Mayor's office be interested in this tool?
Front End Dev
Web Technologies: The co

[2015-07-06 23:00] johntyree commented on #3
That's really interesting to see. MetroRapid is supposed to have quite a few advantages no? For example the traffic light timings are supposed to be influenced in its favor. I'd expect rush hour to be when it does the best.

[2015-07-06 23:03] McCnnll commented on #3
I am not sure that MetroRapid can hold greens longer in this area. I believe that it cannot affect timing downtown, and it may just be in areas outside the center city that it can hold greens. However, there are the dedicated bus lanes downtown, but, obviously, the local routes use those also.

[2015-07-07 01:36] sophieher commented on #3
Yes, I ride these buses in the evening rush hour, and none seem to have the Green Light Technology that they advertised when MetroRapids were first introduced. It also seems that they are marketing as 'High Frequency' routes, rather than express style routes. Could be an argument for the higher prices.

[2015-07-07 03:06] luqmaan commented on #3
Whats the next step?

I think we need to come up with a way to get the travel time for all central austin trips. For example:

- UT West Mall to Republic Square
- Hyde Park to Austin History Center
- North Loop to Austin History Center
- Museum Station to Republic Square

Then how do we present these travel times in a way that makes sense?

also hiiiiii @sophieher

[2015-07-07 12:16] McCnnll commented on #3
Here is a FAQ on MetroRapid that has some helpful information about the signal-priority tech:
https://www.capmetro.org/faq.aspx?id=32
It does not work between Cesar Chavez and MLK. Apparently it's only used when buses are "behind schedule."

As far as next steps, I would first do the northbound trips for these routes. Also, adjusting the times for UTC would be useful for presenting this informatio

[2015-07-07 14:17] johntyree commented on #3
@luqmaan What are we really trying to present? Just travel times or comparisons between similar ways to get between particular parts of town? If it's the former then I'd want to see a histogram or density plot or something, with bucketed time on X and number of observed trips on Y.

The latter requires more thought. Maybe [violin plots](https://en.wikipedia.org/wiki/Violin_plot)? One image would b

[2015-07-07 17:56] luqmaan commented on #3
I think the question I'm trying to answer is "Where/when is it worse to ride the MetroRapid?"

[2015-07-07 18:08] McCnnll commented on #3
A more policy-oriented question,though, would be "Are the advantages of
MetroRapid what CapMetro claims they are?" When the MetroRapid lines began
service, CapMetro significantly cut the service frequency of the 1 and the
3 and eliminated the 101 express bus. What this meant for 1 and 3 riders is
that they had to pay an extra 50¢ for most of the bus trips on their line
and had fewer stops. (Or, of

[2015-07-08 15:02] luqmaan commented on #3
Now with proper timezone

![image](https://cloud.githubusercontent.com/assets/1275831/8573605/1dbb65d0-2558-11e5-8b52-e53396c0c0ea.png)

https://docs.google.com/spreadsheets/d/1TzBumxSiu1_GIOpiTPSmR8I4r7-2COqzeZAu7HPWwb0/pubchart?oid=735586080&format=interactive

https://docs.google.com/spreadsheets/d/1TzBumxSiu1_GIOpiTPSmR8I4r7-2COqzeZAu7HPWwb0/pubchart?oid=1798681982&format=interactive

[2015-07-08 18:22] chip-rosenthal opened #6 "website and service monitoring solution"
**One sentence description:**

setup a monitoring solution to alert if a website or web service goes down

**Link (more details/brain dump/alpha):**

Either a hosted service or a tool running in an (e.g.) Amazon EC2 instance would be preferred.

This probably should NOT run on the open-austin.org server -- that's one of the things we'd like to monitor.

**Project Needs (dev/design/resources):**

A

[2015-07-08 18:26] luqmaan commented on #6
Maybe https://www.pingdom.com/free?

[2015-07-08 23:54] luqmaan commented on #3
I think we can figure out which segments/trips to prioritize by looking at the instabus analytics.

[2015-07-09 14:35] luqmaan opened #7 "Extract APD incident report data and host it on GitHub"
**One sentence description:**

Make the APD incidents report data accessible by hosting it on GitHub.

**Link (more details/brain dump/alpha):**

Miles Hutson (http://github.com/CuriousG102) has done some awesome work making a crime API from the APD incidents data. He created a scraper (https://github.com/CuriousG102/austin-crime-data/blob/master/download.py) that fetches the data from https://www

[2015-07-09 15:20] blackbaud-mileshutson commented on #7
I'd be open to the idea. This makes one-off analyses much easier for people and also enables a core tenet of data journalism: reproducibility. For example, if someone disputes your results, it would be nice for you to be able to go "run my program against commit 65a4e and you'll see the same thing".

Since things are constantly being added to the Postgres database you obviously can't do that right

[2015-07-09 15:21] blackbaud-mileshutson commented on #3
This is some beautiful work y'all. I can't wait to check it out more later.

[2015-07-09 15:27] blackbaud-mileshutson commented on #2
I've seen projects by the Sunlight Foundation that basically crowd source scraping. They write a framework for running all the scrapers and then release a standardized format for writing the scrapers to developers.

See this project https://github.com/sunlightlabs/openstates/

I think we could throw together a system for this before hack night and then divvy up the job of writing scrapers for the

[2015-07-09 16:01] mateoclarke opened #8 "Noisy Neighboorhoods"
**One sentence description:**
Residents have no way to utilize noise data in the assessment of living situation. We can use 311 Noise complaint data to map the noisiest neighborhoods

**Link (more details/brain dump/alpha):**
- [Hack Canvas Brainstorm from Feb, 2015 Code Across Event](https://github.com/open-austin/Hack_Summit_Project_Plans/blob/master/Noise_Complaints.md)
- Similar project in Ora

[2015-07-09 16:57] CuriousG102 commented on #7
I'd be open to the idea. This makes one-off analyses much easier for people and also enables a core tenet of data journalism: reproducibility. For example, if someone disputes your results, it would be nice for you to be able to go "run my program against commit 65a4e and you'll see the same thing".

Since things are constantly being added to the Postgres database you obviously can't do that right

[2015-07-09 17:36] chip-rosenthal commented on #7
I guess I'm unclear the benefit of this versus asking Miles to provide an API that emits (e.g.) CSV -- presuming his system can handle the load.

[2015-07-09 18:07] luqmaan commented on #7
I'm not sure an HTTP API would be able to respond with all the data ever in a single call.

I like the way CapMetrics does things. Have a look https://github.com/scascketta/CapMetrics/tree/master/data/vehicle_positions

There are a lot of benefits to this.

- You can see the data by day through your browser
- You can clone the repo and immediately be able to manipulate all the data at once
- The d

[2015-07-09 18:07] luqmaan commented on #8
https://data.austintexas.gov/browse?tags=311

[2015-07-09 21:23] CuriousG102 commented on #7
Ditto what Luqmaan said. Fuzzing; I would round at the hundredths.

Sent from my iPhone

[2015-07-10 19:49] johntyree commented on #3
Prioritize in what sense?

[2015-07-10 20:17] luqmaan commented on #3
Instead of showing the travel time for every possible trip, show the travel times for the common trips. Here's a heatmap of where instabus has been used https://lol.cartodb.com/viz/06a8b716-2653-11e5-a950-0e5e07bb5d8a/map

[2015-07-10 20:39] McCnnll commented on #3
Is there a way to refine the buckets on the map? The way that it renders
for me, basically all of central Austin and the areas around the MetroRapid
lines are in red.

On Fri, Jul 10, 2015 at 3:17 PM, Luqmaan Dawoodjee <notifications@github.com

--
Chris McConnell
☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠☠

[2015-07-12 23:56] werdnanoslen opened #10 "Which is more important to this group?"
I research civic media and how civic hacking groups prioritize things, and I'm curious about whether Open Austin prioritizes promotion of ideas and experiments over targeted problem solving. This distinction is important to overall organization in whether contributors should spread out and try new things or focus on one problem (and its set of issues) at a time. Looking through the website, it see

[2015-07-13 03:20] luqmaan commented on #10
I'm not sure if I'm the best person to answer this, but so far in my experience we don't plan to focus on particular types of issues.

People just work on things they find interesting. Sometimes a project is interesting because it solves a problem you're affected by. Other times it is interesting because of the technologies used. Or the people working on the project.

So, any idea goes. Do you hav

[2015-07-14 01:17] werdnanoslen commented on #10
I think you may be as good as anyone else to say so, unless there's a sort of cultural leader in the group? I'm interested to hear others' opinions as well, though.

No specific ideas for Austin right now, but a lot of ideas I've seen here and in (Code for) Atlanta involve I/O with maps. So I've started working on a [boilerplate for that](https://github.com/werdnanoslen/mobile-map-io).

[2015-07-14 05:23] mateoclarke commented on #10
Yeah, I'd agree with @luqmaan about the two drivers for involvement. Either personal interest because the domain (policy issue) or technology (stack or problem) resonates with the volunteer.

Also to answer your question in a different way, our Hack Team definitely work more as an umbrella organization to tackle various issues. We have small teams of volunteers working on projects at the same time

[2015-07-14 05:32] mateoclarke opened #11 "Granny Flats"
**One sentence description**:
A Granny Flat is a common term for an Accessory Dwelling Unit (ADU). Currently, it is hard to know if you are able to build an ADU on your property because City Code is different by neighborhood. This tool would help you plot and ADU in your backyard based on known code requirements (parking, impervious cover, distance from other properties, etc).

This idea came of o

[2015-07-14 05:36] mateoclarke opened #12 "Austin Park Equity"
**One sentence description**:
A interactive map that shows areas with the least park access and the most need based on demographic data.

**Link (more details/brain dump/alpha)**
https://github.com/open-austin/Austin_Parks_Equity
http://open-austin.github.io/Austin_Parks_Equity/

**Project Needs (dev/design/resources)**
d3, leaflet, or turf experience

**Status (in progress, pie-in-the-sky)**
in p

[2015-07-14 05:43] mateoclarke opened #13 "My Building Doesn't Recycle"
**One sentence description**:
Austin has a [Zero Waste goal](http://austintexas.gov/zerowaste) to reach by 2040. Part of this plan is the [Universal Recycling Ordinance (URO)](http://www.austintexas.gov/uro) that will require landlord and property managers to provide convenient recycling to their tenants. This tool would call out large property land owners that are not in compliance with the URO

[2015-07-14 14:40] MCraven2800 opened #14 "Texas Appleseed (school-to-prison pipeline)"
### [The repo for this project lives here](https://github.com/txappleseed/txappleseedmap)

**One sentence description**:

As part of our efforts to dismantle the school-to-prison pipeline (the policies and practices that push kids out of school through suspensions, expulsions, alternative school placements, and police contact) we want to create a website that provides practical resources, interact

[2015-07-14 14:44] luqmaan commented on #14
Can you narrow the scope of this project?

There are too many things.

[2015-07-14 14:47] MCraven2800 commented on #14
I'd be happy to, but please give me a little more guidance.  There are too
many of what things?  Too many needs (development, resources, etc)?  Or too
much in my description of what we want to create?

On Tue, Jul 14, 2015 at 9:44 AM, Luqmaan Dawoodjee <notifications@github.com

--
Morgan Craven
Director, School-to-Prison Pipeline Project
Texas Appleseed
512.473.2800 ext.110
www.texasappleseed.net

[2015-07-14 15:17] luqmaan commented on #14
Awesome!

Sorry I wasn't clear, I meant to say that you want to make too many things. Based on the current description it looks like there are three projects.

Can you describe what you want to do with each of these in more detail?

----------------------------

1. > website that provides practical resources

  What sort of resources would the website provide that aren't already on https://www.tex

[2015-07-14 15:22] mateoclarke commented on #14
Just to add on here to what @luqmaan is getting at (I think)...

There's no reason the end product couldn't be contained in a single webapp/site. But in order to tackle the bigger problem in pieces and to understand the scope of each and how it all fits together, it's helpful to break out the features of the site more thoroughly. This will at least give folks a good starting point and prioritized

[2015-07-14 15:59] MCraven2800 commented on #14
I think I understand, thanks!   In order to do this, I am going to violate
the one sentence limit . . .

On Tue, Jul 14, 2015 at 10:23 AM, Mateo Clarke <notifications@github.com>
wrote:

--
Morgan Craven
Director, School-to-Prison Pipeline Project
Texas Appleseed
512.473.2800 ext.110
www.texasappleseed.net

[2015-07-14 16:00] luqmaan commented on #14
:smiling_imp:

[2015-07-14 16:02] mateoclarke commented on #14
Yeah, one sentence description is definitely subject removal... Good to be concise, but this project obviously needs more than a sentence.

[2015-07-14 21:41] luqmaan commented on #10
We also do a lot of map apps.

While you're thinking about a good boilerplate for maps, I like the way we do it in https://github.com/open-austin/austingreenmap.

- react
- react-leaflet
- scss
- gulp
- hosted on github pages (see the gh-pages branch)
- soon will be publishable as native/cordova ios/android apps https://github.com/open-austin/austingreenmap-cordova

[2015-07-14 22:13] MyCreekATX opened #15 "MyCreekATX"
**One sentence description**
A site that aggregates any and all creek data with the goal of better connecting people to creeks in Austin. (Phase 1 - Barton, Bull, Boggy, Onion, Waller, and Shoal Creeks)

**Link (more details)**
http://www.mycreekatx.com/
https://www.facebook.com/mycreekatx
https://twitter.com/MyCreekATX

**Data categories:**
-Social media (images, comments, and video pulled for ea

[2015-07-15 00:24] jmeisel opened #16 "Austin projects that use CitySDK from US Census Bureau"
I'd like to find one or more existing Austin civic tech projects that could benefit from Census data:  http://uscensusbureau.github.io/citysdk/

It would be great to highlight Austin examples in the Open Data Solutions National Challenge, with submissions due July 31st:
https://www.challenge.gov/challenge/city-software-development-kit-sdk-data-solutions-challenge/

----------------------

Projects

[2015-07-15 01:07] luqmaan commented on #15
Do you have any links to creek data sets?

[2015-07-15 05:14] mateoclarke commented on #15
:+1: DATA LINKS

And can you share the list of creeks you wanted to focus on in the first iteration?

[2015-07-15 05:54] mateoclarke commented on #14
### _"Dismantle the Pipeline"_

If that's not already the tagline, it should be. :hammer:

[2015-07-15 09:15] tgregoneil commented on #14
Possible new item in Microsite Purpose:

4.  To facilitate advocacy for after-school programs such as music, recreational sports, etc., that would provide constructive activities for students.

[2015-07-15 14:24] mcdermottsolutions opened #17 "Bill Tracker"
**One sentence description:**
A webapp where you can read and annotate bills from the Texas legislature.

**Link:**
https://github.com/bill-tracker/bill-tracker
https://billtracker.slack.com

**Project Needs:**
We could use more:
Backend devs (python, django)
Frontend devs (html, css/sass, javascript, angular)
Designers
People with legal background/connections/interest
People with startup business

[2015-07-15 14:37] MyCreekATX commented on #15
Let me know if there is anything else you guys need!

[2015-07-15 14:48] mateoclarke commented on #15
Here is another dataset I'm aware of for Water Quality.
https://data.austintexas.gov/Environmental/Water-Quality-Sampling-Data/5tye-7ray

We'll need more context to understand which of these measures are good back or in between, and how to make this info helpful & accessible to the average person. Maybe there is some metadata explaining this stuff somewhere?

[2015-07-15 14:52] MCraven2800 commented on #14
Yes, I think that is great---thanks Greg!

On Wed, Jul 15, 2015 at 4:15 AM, tgregoneil <notifications@github.com>
wrote:

--
Morgan Craven
Director, School-to-Prison Pipeline Project
Texas Appleseed
512.473.2800 ext.110
www.texasappleseed.net

[2015-07-15 14:52] MCraven2800 commented on #14
I actually really really like that.  I've always liked that phrase when we
use it in our materials, and I love the idea of pulling it out and
highlighting it as a tagline.

On Wed, Jul 15, 2015 at 12:54 AM, Mateo Clarke <notifications@github.com>
wrote:

--
Morgan Craven
Director, School-to-Prison Pipeline Project
Texas Appleseed
512.473.2800 ext.110
www.texasappleseed.net

[2015-07-15 14:59] MyCreekATX commented on #15
Hey Mateo,
   That data set is a small piece of what goes into the data set I posted. The EII includes various factors other than water quality - for instance, they sample benthic organisms for diversity, type, etc. The EII is a combined scoring system for all ecological variables. And it's set on a 100 point scale so we should be able to easily average the creek overall (rather than the reaches t

[2015-07-15 15:09] luqmaan commented on #15
Ok so far we have one dataset:

- https://data.austintexas.gov/Environmental/Water-Quality-Sampling-Data/5tye-7ray

Do you know of anyothers @MyCreekATX?

[2015-07-15 15:27] luqmaan commented on #16
What projects do we have that use the CitySDK or can use it?

@mateoclarke's Austin Parks Equity app definitely does.

[2015-07-15 15:38] MyCreekATX commented on #15
When you say dataset... do you mean raw data? in spreadsheet format? I added some links to data in the description above but not in a raw format.

[2015-07-15 16:05] mateoclarke commented on #15
Which one is the EII dataset? Is this an example of an EII report?
http://www.austintexas.gov/sites/default/files/files/Watershed/eii/Barton_EII_ph1_2011.pdf
PDF is a pretty useless way to share data for our purposes. Do you think there is a raw data file that we could get access to that they used when creating this PDF?

And are you aware of a method to extract data from the USGS site? It looks l

[2015-07-15 16:10] MyCreekATX commented on #15
I think we can get the raw data from the EII dataset. I can email someone
to get it. Someone I was speaking to at Austin Coding Academy seemed to
think there was a way to mine the data on the USGS site easily... I
definitely could be wrong.

*KATIE COYNE*
MyCreekATX.com
561.339.5712
facebook <https://www.facebook.com/mycreekatx> . twitter
<https://twitter.com/MyCreekATX>

On Wed, Jul 15, 2015 at 1

[2015-07-16 03:07] mateoclarke commented on #17
Very cool! Is there a public demo posted anywhere? Or maybe some early screenshots?

It would be cool if you added some specific issues to y'alls repo. Any specific tasks/features you have queued up?

[2015-07-16 19:16] mcdermottsolutions commented on #17
We're developing locally at the moment. Hoping to deploy to Heroku or somewhere soon.

Here are some early screenshots:

<img width="1038" alt="screen shot 2015-07-16 at 2 08 51 pm" src="https://cloud.githubusercontent.com/assets/9694783/8732664/93cc6392-2bc4-11e5-9f5c-59711eabc49f.png">
<img width="1019" alt="screen shot 2015-07-16 at 2 10 21 pm" src="https://cloud.githubusercontent.com/assets/96

[2015-07-16 19:39] luqmaan commented on #17
You should deploy Bill Tracker ASAP, even if this early version is broken.

There's lots of reasons to make a live demo ASAP, but some important ones:

- It makes it easier for front end people to figure out where to contribute
- People can give you early feedback which you can iterate on before its too late
- Huge morale boost

[2015-07-16 19:56] luqmaan opened #18 "Austin Recycles"
**Concise description**:

An app that is location and calendar aware, that informs people of upcoming Austin Resource Recovery (ARR) collection services:

- trash and yard trimmings (weekly)
- recycling (bi-weekly)
- brush (bi-annual)
- bulky (bi-annual)

**Link (more details/brain dump/alpha)**

A prototype was implemented in 2013: http://austin-recycles.open-austin.org/

Austin Resource Recovery

[2015-07-16 21:27] mateoclarke commented on #18
ARR is using [Recollect](https://recollect.net/) to provide this functionality on iPhone and Android. I learned this in a meeting with ARR back in April. I think they plan to launch the apps in the fall. We could reconnect with them to learn more about this implementation or if there are still any needs.

They already have Recollect's "What Would I Do With" search feature rolled into their website

[2015-07-16 21:30] mateoclarke commented on #18
Didn't want to be a buzzkill (:bee: :gun:) but the city has opted to pay for a commercial product for this feature set and that should be known before anyone jumps into this as an open source project.

[2015-07-16 23:18] chip-rosenthal commented on #18
I still thing we should do a simple single page app based on this that has an easy "add to calendar" feature. Once we've got the basic product, it can be a platform for community-initiated features.

[2015-07-17 07:48] PatiSilva commented on #14
Here's an example of site: http://mappingpoliceviolence.org/
I like that the facts are listed on the side and the interesting and attention grabbing things they did with the map and the graph.

[2015-07-18 00:39] chip-rosenthal commented on #6
done
http://www.open-austin.org/hack-team/service-status

[2015-07-18 00:39] #6 closed

[2015-07-19 07:33] mcdermottsolutions commented on #17
Issues added! https://github.com/bill-tracker/bill-tracker/issues
We are hoping to deploy to heroku soon, maybe this weekend!

[2015-07-20 05:23] edsfocci commented on #17
Live Demo:
http://billltracker.herokuapp.com/

[2015-07-20 05:32] edsfocci commented on #17
Current landing page:
![Uploading BilllTracker-Home-2015-07-20.png…]()

[2015-07-20 16:28] mateoclarke commented on #17
@mcdermottsolutions :+1: & @edsfocci :+1:

[2015-07-20 19:09] luqmaan commented on #17
@mcdermottsolutions nice work!

I get 500s whenever I submit the form.

[code]

[2015-07-20 19:13] luqmaan commented on #10
Closing this issue, as @werdnanoslen's question seems to be answered. Feel free to reopen.

[2015-07-20 19:13] #10 closed

[2015-07-20 19:17] edsfocci commented on #17
Sorry about that, forgot to migrate the DB. It works now.

[2015-07-20 19:19] luqmaan commented on #17
This is great!

Gonna link to this during the announcements section of tonight meetup http://billltracker.herokuapp.com/bills/HB120/

[2015-07-20 19:38] edsfocci commented on #17
Cool @luqmaan!

[2015-07-20 19:41] luqmaan commented on #18
Just so we know what the recollect thing does/will do:

###### wizard

http://jsfiddle.net/kyrc9n8g/2/

![image](https://cloud.githubusercontent.com/assets/1275831/8785401/1972245c-2eed-11e5-8168-aefb29f28be6.png)

![image](https://cloud.githubusercontent.com/assets/1275831/8785425/384a3e50-2eed-11e5-88af-93b277eedf5d.png)

###### page

looks like they're still working on this - http://jsfiddle.ne

[2015-07-20 19:44] luqmaan commented on #18
Since the Austin calendar doesn't work yet, here's one for Columbus:

https://311.columbus.gov/AddrLookupnew.aspx

https://recollect.net/api/places/9CA8F3CC-30A3-11E3-8252-114F1BEEAB8B/services/237/calendar.html?show_print_setup=1&locale=en-US

![image](https://cloud.githubusercontent.com/assets/1275831/8785504/b981c600-2eed-11e5-89db-0942321690cb.png)

It also has calendar integration

![image](h

[2015-07-20 19:54] luqmaan commented on #14
@MCraven2800 You should identify **one** thing that you think is ready for people to start working on.

Some of the projects you have now:

1. **A basic site** with four sections: students, parents, community organizations, and school districts. Each section has links to other resources. The site will follow the same style as Texas Appleseed.
2. **A form for families** to fill out to share their s

[2015-07-20 20:03] luqmaan commented on #6
:night_with_stars::fireworks::fireworks::fireworks::fireworks::star2::fireworks::fireworks::fireworks::fireworks::night_with_stars:

Our first completed project idea!

[2015-07-20 21:14] MCraven2800 commented on #14
If I HAVE to choose one :)  I choose #1: A basic site with resources.

I will add that part of the beauty of the idea is that it is, essentially, two-way data sharing---we will provide resources (#1) but we will also collect stories and data from the people who access the site (#s 2 & 3) and present the information back to them in a way that is easy to understand (# 4).  All the parts listed above

[2015-07-20 21:17] luqmaan commented on #14
:+1: Thanks for choosing one and elaborating @MCraven2800.

The other projects are great ideas as well. But now we know which one to start with.

[2015-07-20 23:27] mcdermottsolutions commented on #17
We are live on http://www.billtracker.org/ now.  The domain's working for me here, but might take up to 24 hours to propagate everywhere.

[2015-07-20 23:50] amaliebarras commented on #17
I just noticed that when I open this on my phone, it only shows the option for Senate bill and not House bill, is that supposed to happen?

Amalie

[2015-07-21 00:14] mcdermottsolutions commented on #17
I noticed that too, definitely not supposed to happen. :grimacing: Things are a little broken right now on mobile - the capital building building background image isn't showing on my android either.  Adding to our issues now.

[2015-07-21 00:17] amaliebarras commented on #17
Awesome!

And hey congrats on the launch! How rude of me to jump straight to the bug and not acknowledge the enormous success :P

[2015-07-21 00:18] mcdermottsolutions commented on #17
No, we definitely appreciate any bug reports! Thanks, we're getting there slowly but surely! :)

[2015-07-21 13:40] luqmaan opened #19 "Setup Slackin to make Slack more accessible"
**Concise description**:

Allow people to join open-austin.slack.com without the invitation nonsense.
**Link (more details/brain dump/alpha)**

See http://slack.refreshaustin.org/ for an example.

https://github.com/rauchg/slackin

**Project Needs (dev/design/resources)**

A developer to deploy it to the open austin server, or to Heroku.

**Status (in progress, pie-in-the-sky)**

~~Needs somebody

[2015-07-21 15:34] mateoclarke commented on #19
Yaz! this would help @amaliebarras by cutting out a manual task. But it would allow anyone without filter to join our Slack _(That is probably a good thing)_.

What's the cost structure for Slack? Any reason this could get out of hand in the long run?

[2015-07-21 20:11] amaliebarras commented on #19
https://changeis.slack.com/pricing <https://changeis.slack.com/pricing>

This is the pricing structure of slack.

10,000 messages are free, and if we want an unlimited archive it’s $7/month. I don’t think we’d ever qualify for the Plus or Enterprise plan.

Adding people to slack isn’t hard to do manually, but if we put a link on the website, this would allow us to connect on slack with people who

[2015-07-21 20:25] mateoclarke commented on #19
We're at around 5.4K messages according to the admin stats page. It sounds like only the last 10k message are searchable. Once we get past 10k, old message will be become pretty ephemeral.
https://open-austin.slack.com/admin/stats

We have $50 credit _(not sure how)_ but it looks like it would cost us $7/user/month. Currently have 86 users. (over $7,000 per year if we needed to upgrade to the basi

[2015-07-21 20:36] amaliebarras commented on #19
ooooh it’s 7/month per user? I didn’t catch that.

how long did it take us to get to 5.4k?

[2015-07-21 20:38] mateoclarke commented on #19
Dec 14th, 2014 is when we started using it.

[2015-07-23 21:56] luqmaan opened #21 "Setup Transitime for transit predictions"
**Concise description**:

Setup [Transitime](http://transitime.org) to generate realtime transit predictions based on the position of the CapMetro vehicles.

**Link (more details/brain dump/alpha)**

Currently CapMetro does not provide a way to find out when the next bus is coming. They have internal API that can be queried to find out arrivals for one particular stop, but it is very limiting (and

[2015-07-26 21:24] mjohnson290 commented on #21
Hm, I may be down for this. I'll start reading up on documentation tonight. I've got some experience with Java, though I'm mostly a front end developer and have been using angular lately.

[2015-07-26 21:53] mjohnson290 commented on #21
Looks like they already publish real-time data here : http://www.capmetro.org/metrolabs/

[2015-07-26 22:04] luqmaan commented on #21
Not quite. :kissing_smiling_eyes:

There isn't a TripUpdates feed or an equivalent (public) API for providing arrival prediction times.

CapMetro just sent us their first TripUpdates file, but they still need to hook it up to Socrata.

Are you free tomorrow evening? I'll be at epoch coffee (n Lamar) working on this project.

[2015-07-28 01:44] prestonp opened #22 "Scrape park photos for Austin Parks"
**Concise description**:

Scrape park photos for [Austin Green Map](https://github.com/open-austin/austingreenmap)

**Link (more details/brain dump/alpha)**

Brain dump, currently working on a scraping implementation in node.js. Planning on setting up a weekly cronjob to look at the park data and search Flickr for photos. The photos will be publicly available through github pages with an index fil

[2015-07-28 02:24] johntyree commented on #19
How important is it to log and search old messages for us, really?

If it is, but it's just archival we're concerned about then we can always log it ourselves. There's an IRC gateway that works great. I use it daily.

[2015-07-28 02:56] mateoclarke commented on #19
@johntyree: I would say not that important. Important announcements and discussions should end up on the website or a github repo.

[2015-07-28 03:37] luqmaan commented on #22
Can you fill out the full project idea template? See the README https://github.com/open-austin/project-ideas

[2015-07-28 03:58] johntyree commented on #14
Had a meeting this evening about what's available now and where we could take this. We should probably break out into a repo soon.

# Resource Provision / Sharing Site
  #### Goals
  - Educate and motivate students and parents
  - Encourage/facilitate community group formation

## Design
  - Landing page - Call to action
    - Personal story?
    - Inspirational impact thus far?
        - E.g. imp

[2015-07-28 04:06] prestonp commented on #22
Yeah, I completely forgot about the template, let me update

[2015-07-28 05:06] johntyree commented on #19
I would agree. I think the 10k limit will be more than enough for the foreseeable future.

[2015-07-29 23:46] rlcauvin commented on #3
It might be worthwhile to compare the real-time discrepancies between 801 and 1 to the discrepancies already baked into the schedules.

For example, see what the scheduled travel time is between Republic Square and Museum Station for the 801 and 1. Or perhaps between Republic Square and the Triangle.

[2015-07-31 18:11] mateoclarke commented on #15
Hi Katie,

Any update on the raw data from EII? Is that a Watershed Protection dataset?

Also any more research around getting data in a better format from USGS? If this is crucial data and it needs to be scraped, that would be an immediate first need.

You also linked to the City GIS site. What specific geographic data layers did you find to be relevant?

[2015-08-02 19:44] luqmaan commented on #19
We now are on the Slack standard plan thanks to https://slack.zendesk.com/hc/en-us/articles/204368833-Slack-for-Nonprofits

[2015-08-03 05:21] johntyree commented on #19
Nice. I notice on that page that it says we should let them know if we're going to grow beyond 100 members. We already have over 80. We should bring it up sooner rather than later.

[2015-08-03 12:34] luqmaan commented on #19
Already did that

[2015-08-03 13:31] johntyree commented on #19
:+1: :*

[2015-08-03 14:53] AmyStansbury commented on #13
Hi,
I am the editor of a community-driven environmental news site here in Austin called the Austin EcoNetwork. (Hi Mateo - I actually think we met at the Hack 4 Change event in June). I absolutely love this idea! As someone who writes about these issues everyday, I know that the city needs an app like this. Although I am not a programmer myself, I want to be a part of making this project happen an

[2015-08-05 13:11] mateoclarke commented on #13
Hey @AmyStansbury! Yeah we did meet at the hackathon.

We have some good interests in this project, we just need a Node/Javascript developer to jump into forking the original repo and making it work for Austin. If you want to come out our Civic Hack Night next week, we could pitch this project to the group and see if anyone has the right skillset.

I could also connect you to some of the folks in

[2015-08-05 17:44] matiaskitty commented on #13
Hi,
I'm Claire, and I worked on My Building Doesn't Recycle (Chicago). I'm happy to help in any way I can and can ask Ben and Alex (developers on the project) if they have time to give any pointers. I'm so glad you want to implement this in Austin!

[2015-08-06 02:12] haileypate opened #23 "Open Data Progress Report -- need help coding!"
**Concise description**
I work for the City of Austin (as of last week!) and we will be publishing a visualization on the City's website that displays open data participation for all the City departments. Our "minimum viable product" would be a basic HTML table, styled with CSS (and potentially some JS interactions), that more or less looks like the table that's provided in the Google Doc below. I

[2015-08-07 15:52] luqmaan commented on #23
DataTables may be useful. https://www.datatables.net/

[2015-08-10 21:38] mateoclarke commented on #13
Relevant news story from this weekend:
[Austin American Statesman: As recycling levels off, should Austin require residents to do more?](http://www.mystatesman.com/news/news/local/as-recycling-levels-off-should-austin-require-resi/nnFzw/#de18de46.3453865.735820)

[2015-08-12 00:40] tyarkoni opened #24 "Analyze restaurant inspection data"
Last year, I did some analyses of the restaurant inspection scores released by the city:

https://github.com/tyarkoni/open-data-flights/blob/master/health-inspection/flight1.ipynb

Aside from updating to reflect scores from the last year, there are a bunch of other potentially interesting analyses that could be done with the data. I'm looking for collaborators interested in expanding on some of th

[2015-08-12 04:10] luqmaan commented on #24
Maybe we can present the analysis as part of https://github.com/open-austin/atx-restaurant-scores

[2015-08-12 14:48] mateoclarke commented on #23
Hey @haileypate,

I'd like to start hacking on this. When will the data be available? Are you still thinking about using the SODA API to publish the data?

I think the best way to get started is to create a repo under open-austin. From there, you can fork code into the CTM repo, or just extract the HTML/CSS/JS needed within a Drupal module.

[2015-08-12 16:27] luqmaan commented on #24
Also the analysis in your notebook is amazing! I wish I had seen this before.

[2015-08-13 21:14] larcher commented on #19
@luqmaan and I got this working on Heroku.

Currently here: http://openaustin-slackin.herokuapp.com/

[2015-08-13 21:18] mateoclarke commented on #19
Awesome!!!!! :fireworks: :fireworks: :fireworks:

Thanks @larcher!

[2015-08-13 21:22] luqmaan commented on #19
Nice work @larcher. I'll find out how to setup the slack.open-austin.org subdomain.

We should write deployment instructions somewhere. Maybe on hackpad? https://openaustin.hackpad.com/Slackin-xqv0iwZexFF

[2015-08-13 22:51] tyarkoni commented on #24
Thanks!

I think it would be pretty easy to export restaurant-level data in a form that can be easily served by the atx-restaurant-scores portal--though I'm not sure if anything in my analyses is useful in that respect...

[2015-08-14 20:26] luqmaan commented on #19
[slack.open-austin.org](http://slack.open-austin.org)

[2015-08-14 20:28] #19 closed

[2015-08-16 05:35] luqmaan commented on #23
http://datasd.gitbooks.io/council_report/content/main/inventory_findings.html

[2015-08-16 05:39] luqmaan commented on #24
https://github.com/Chicago/food-inspections-evaluation/blob/master/README.md

[2015-08-16 22:01] mscarey commented on #23
I'm going to speak up for the easy and ugly solution: simply put your data in the Google Doc and embed it on your site. You can always export CSV from Google Docs to put it on Socrata. Here's the code to embed a copy of the Google Doc where I added some minimal formatting and color-coded the fields:

[code]

And here's the link to the Google Doc itself, in case you want to make a copy and continue

[2015-08-16 22:40] haileypate commented on #23
@luqmaan Thanks for the link! We're looking at a few more measures than San Diego, but it would be off the chain if we could do something more interactive. Here's my favorite example, powered live portal data: http://datasf.org/progress/

@mscarey The OKFN census is one of my favorites! When I checked last month, the site was frozen for maintenance and we couldn't update... so thanks for the note.

[2015-08-17 01:58] haileypate commented on #23
@mateoclarke Here's the data as of last Friday. I'll be updating it as departments continue to submit their work. https://data.austintexas.gov/Government/Open-Data-Initiative-Progress-Report-Participation/8qty-vat2/

[2015-08-17 05:27] mateoclarke commented on #23
Sweet! I got a couple folks interested in working this week. @haileypate, any important deadlines or dates for this project?

[2015-08-17 23:11] haileypate commented on #23
Well, yes and no. The Web Services team at CTM will present its findings to the Open Government (Commission/Committee/Governing Board/People?) on Wednesday, August 19... and plans for the next 90-day sprint to "Free the Data" will begin to form at that time. There is no firm deadline for publishing progress on the City's website, but we'd like to do it sooner rather than later.

Let's say a protot

[2015-08-18 00:41] durs125 commented on #15
Have you used any of the TCEQ data? https://www.tceq.texas.gov/waterquality/monitoring/cwqmn-data-links

[2015-08-18 18:17] MyCreekATX commented on #15
We haven't but it's definitely something we can keep in mind. We've been focusing on the data from the Department of Watershed Protection at the city because they have a complete data set for all creeks and it is updated every two years.

[2015-08-21 18:23] mateoclarke commented on #23
Hey @haileypate, @sharlalikesyou and I put together a prototype progress report scoring card system. Check out what we have so far:

http://open-austin.github.io/open-data-progress-report/
https://github.com/open-austin/open-data-progress-report

[2015-08-21 18:31] amaliebarras commented on #23
Ugh it doesn't work on mobile but I CANT WAIT TO SEE THIS!!!!!

Sent from my iPhone

[2015-08-21 18:37] chip-rosenthal commented on #23
Excellent content. I'd suggest, however, the application may not be a good fit for a 2d/grid UX. A linear arrangement would make it easier for people to scan and compare entries.

The grid arrangement, for instance, doesn't give me a feel for how many "submit plan" entries are red. If it was linear I could scan the column and reach some conclusions.

[2015-08-21 19:26] amaliebarras commented on #23
Okay, this is fantastic! I really like the fact that each department has their own scorecard, but they can also see what everyone else is up to too! Especially when there's lots of green.

I noticed that he grid starts below the fold when I’m looking on a laptop which means the user has to scroll down to see the top part of the report card. It might be worth making the intro text at the top go a l

[2015-08-21 22:05] mateoclarke commented on #23
@chip-rosenthal & @amaliebarras: I appreciate the feedback about the layout and mobile responsiveness. I'll work on an alternative layout over the weekend and make mobile work for the next iteration.

Amalie, if you want to go ahead and create the Google Analytics ID, I can include it. This will continue to be hosted on Github Pages and it may be incorporated into the CoA Drupal site. That's up to

[2015-08-23 17:40] haileypate commented on #23
Wow, this is so great. I can't wait to show the team tomorrow! Great job @mateoclarke and @sharlalikesyou!

Stuff I especially like:
- The icons y'all chose for the 4 compliance items
- How easy it is to see which departments still have work to do
- How there's a statement at the top that says how many departments are counted

I'll put my additional questions and ideas in the project repo. I'm alr

[2015-08-23 17:40] #23 closed

[2015-08-24 03:25] mateoclarke commented on #23
To your suggestion @chip-rosenthal:
http://open-austin.github.io/open-data-progress-report/alt-version.html

Also included some of your "below the fold" feedback @amaliebarras

[2015-08-24 14:32] amaliebarras commented on #23
Ooo yes, this looks wonderful and I like that the border shows up when the user hovers so it still kind of preserves the card feel.

[2015-08-24 15:45] amaliebarras commented on #23
also @mateoclarke Here's the GA Number: UA-66672781-1. I have the default URL set to open-austin.github.io/open-data-progress-report/ for now. I'll add you, @haileypate, and @sharlalikesyou as GA users, let me know if I need to include anyone else

[2015-08-24 16:26] chip-rosenthal commented on #23
Thanks for trying these. I find the alt format is far superior for data analysis. I'm able to scan and as a whole get a feel for where the city is and which tasks need to be done.

Another possibly interesting visualization is a thermometer graph ... something like a scale 0-8 ... give 1 point for each milestone started (currently showing yellow) and 2 points for complete (currently showing green)

[2015-08-24 21:53] mateoclarke commented on #23
Hey @chip-rosenthal, I like the thermometer idea, and had thought of something similar myself.

Are you suggesting that as a separate graph? If so, what would that look like?

Or do you see that as a 6th column? Or maybe just a background shade behind the department name and icon in the first column?

I also like the idea of being able to sort by that metric.

[2015-08-25 20:46] phzpw commented on #13
I'm going to fork and try hacking on this over the next week. If anyone is already working on this or wanting to help, ping me at phz@sdf.org

[2015-08-25 20:48] luqmaan commented on #13
@phzpw there's more discussion going on in the #austinrecycles slack channel. You can join the slack via http://slack.open-austin.org

[2015-08-26 04:12] haileypate commented on #23
Just now seeing these... I like the thermometer idea too. How do y'all feel about migrating these to the issues area on the project repo?

[2015-08-26 04:13] luqmaan commented on #23
:+1: for moving specific discussions to issues on the repo.

Lets keep this issue updated with the project status tho.

[2015-08-26 04:24] haileypate commented on #23
Makes sense. Should we open this back up or leave it closed?

[2015-08-26 04:35] luqmaan commented on #23
I would say keep it closed. The project has been launched and has momentum.

[2015-08-27 02:09] chip-rosenthal commented on #4
[code]

[2015-08-27 02:53] luqmaan commented on #4
:+1:

FYI, Hackpad is open source now that they've been acquired by Dropbox.

https://hackpad.com/Hackpad-is-teaming-up-with-Dropbox-m1Fne5A6Lzn
https://github.com/dropbox/hackpad
https://news.ycombinator.com/item?id=10099602

[2015-09-02 17:33] haileypate opened #25 "a public place for data portal issue tracking"
**Concise description**:
As the City of Austin's Open Data Initiative gains momentum, the list of issues to address is growing. New projects and teams are taking shape and use digital tools to collaborate. How might we leverage these tools to publish the status of data portal issues/tasks/projects in a public place? And in real time?

**Link (more details/brain dump/alpha)**
I don't believe in try

[2015-09-06 19:37] scrudden commented on #21
I have been working on making it easier to build and setup transiTime. Do you need some help?

[2015-09-07 01:19] luqmaan commented on #21
@scrudden Thanks for reaching out to us! I'll contact you if we have any specific questions.

We've been posting updates here: https://github.com/luqmaan/Instabus/issues/210 and on http://slack.open-austin.org #transitime.

[2015-09-21 23:43] luqmaan commented on #18
Closing this issue since it seems most of the functionality is already implemented Recollect.

Feel free to reopen.

[2015-09-21 23:43] #18 closed

[2015-09-29 00:16] haileypate opened #26 "a script for taking Austin's data portal analysis to the next level (short term solution)"
**Concise description**:
At the City of Austin, we are able to create a data table that gives us summary information about all the public datasets on our open data portal. (We hope to automate the production of this... stay tuned!)

What we don't currently have is a data table that tells us about the rows in each dataset. The MVP for this project would take one json file full of data collected fro

[2015-09-29 15:34] luqmaan commented on #25
To summarize

- You have a list on Asana where you keep track of issues you've reported to Socrata.
- You want that list of tasks/issues to be public.
- One solution is to setup a integration to forward the data from Asana to GitHub.

Am I understanding this correctly?

Have you considered setting up a repo and using the GitHub issues instead of Asana?

[2015-09-29 15:47] luqmaan commented on #26
This project sounds interesting.

What are some of the existing Socrata analysis projects?

[2015-09-29 20:36] haileypate commented on #26
@luqmaan Do you mean like... what are we studying at the City? Or what analytics are offered by Socrata in general? Or...?

There's a lot of stuff in my head... needs to come out! Perhaps I'm not the greatest researcher, but I haven't come across a ton of studies that study the "state" of a City's open data with "in the weeds" objectivity. Lots of subjective stuff still out there. Would love to wo

[2015-09-30 23:52] luqmaan commented on #16
:smile_cat:

[2015-09-30 23:52] #16 closed

[2015-09-30 23:53] luqmaan commented on #17
Closing this issue for now. Feel free to reopen.

[2015-09-30 23:53] #17 closed

[2015-10-01 18:43] luqmaan opened #27 "Open Budget Oakland for Austin"
**Concise description**:

[Open Budget Oakland](http://openbudgetoakland.org/2015-17-proposed-budget-flow.html) looks really cool. Let's adopt/redeploy/fork it in Austin.

![image](https://cloud.githubusercontent.com/assets/1275831/10230106/59bbb100-6830-11e5-8e52-1bbbf0f2e931.png)

**Link (more details/brain dump/alpha)**

http://openbudgetoakland.org/

**Who will use/benefit from this project?**

[2015-10-01 18:49] luqmaan commented on #15
The MyCreekATX Charrette & Hack will be held Saturday October 24, 8 AM at 816 Congress Ave, 3rd Floor, Austin, TX, US. https://www.facebook.com/events/1482064512089654/

Closing this issue. Feel free to reopen.

[2015-10-01 18:49] #15 closed

[2015-10-06 20:24] mscarey opened #29 "lobbyist data + city council agendas"
**Concise description**:

A visualization of how many lobbyists various companies hired, when they hired them, and what issues they lobbied the Austin city council about (with links to the relevant text, hopefully).

**Link (more details/brain dump/alpha)**

This might be a chance to salvage some of the work done on the dormant Council Connect project (e.g. the scraper). Background:

<a href="http

[2015-10-06 20:26] luqmaan commented on #29
How do you connect the lobbyist to agenda items? That seems very difficult to do.

[2015-10-07 02:10] walkeriniraq opened #30 "Create simple webapp to assist in measuring transitime accuracy"
App should:

- Record the bus and route you're on
- Every X seconds query our transitime instance for that bus and route and record the estimated time to the next stop.
- Every X seconds query CapMetro for the same information as above.
- Allow the user to note when they've reached the next stop (and which stop that is)
- Store this information in a database

The app should look like:

- List of r

[2015-10-07 02:11] walkeriniraq commented on #30
Suggestion is to build a node.js app.

[2015-10-07 06:07] mscarey commented on #29
In the lobbyist dataset on the portal, each lobbyist has one line for each of the lobbyist's clients. So really, it's more about matching clients to agenda items. Then we could show how many lobbyists each client had at any time. A naive way to do that would be just to search the text of the agenda items for the name of each client in the dataset, but that still leaves the problem of normalizing t

[2015-10-07 14:02] luqmaan commented on #29
Ah okay great example. Can you post a link to the PDF here?

[2015-10-08 06:07] djstroky commented on #21
Regarding your newly created onebusaway-docker, I'm interested in following and helping.  I don't have experience with docker, but recently made some EC2 deployment scripts for OBA over here: https://github.com/trilliumtransit/oba_rvtd_deployer  I'm not a guru with devops, so I'm interested to learn what things docker has to offer.

[2015-10-08 06:08] djstroky commented on #30
Perhaps you could slightly modify this node.js app I made:  https://github.com/djstroky/OnTransit

[2015-10-08 16:16] luqmaan commented on #30
Here's what I'm thinking for the UI:

![image](https://cloud.githubusercontent.com/assets/1275831/10372576/094e599c-6dae-11e5-9157-e39260f9e8dc.png)

[2015-10-08 16:17] luqmaan commented on #30
We could also save a bunch of work and just sneak this into Instabus by adding an arrive button to the stop popup.

![image](https://cloud.githubusercontent.com/assets/1275831/10372596/27629f6a-6dae-11e5-9de3-084b30e382d9.png)

[2015-10-08 16:51] luqmaan commented on #30
![image](https://cloud.githubusercontent.com/assets/1275831/10373409/d8409aea-6db2-11e5-8854-b2ca9b14b72e.png)

[2015-10-08 19:07] luqmaan commented on #30
I just rode the 803 to Rosedale station, and CapMetro's prediction arrival time prediction was mostly correct. The Transitime prediction said the bus would arrive in 2 minutes even when it had already arrived.

In terms of this webapp, I think this is the data we need to store for each stop:

- stop id
- route id
- trip id
- direction id
- actual time of arrival
- capmetro prediction: 3 minutes af

[2015-10-14 21:04] CPIOBenAdams opened #31 "Asian-American Quality of Life / Community Engagement (doing it better)"
**Concise description**:
What does quality of life mean to you? A new initiative approved by the Mayor and City Council seeks to improve services and programs for Asian Americans in Austin. First, it is paramount to reach out to and hear from Austin's diverse Asian community. With your help, we'd like to create a web app or simple online platform making it easy for residents to engage with the pro

[2015-10-14 21:06] CPIOBenAdams opened #32 "Asian-American Quality of Life / Community Engagement "Tea in a Box""
**Concise description**:
The City of Austin is working on a community engagement initiative that seeks to engage with the City's Asian-American population (which is varied and diverse). As part of this project we plan to institute a project called "Tea in a Box," modeled after the popular "Budget in a Box" and "Meeting in a Box" initiatives that have been sweeping the country in the private and no

[2015-10-14 21:06] luqmaan commented on #32
Dupe of #31.

[2015-10-14 21:06] #32 closed

[2015-10-14 21:19] luqmaan commented on #31
Those are a lot of things for a mobile app. Is there any specific part that you think is the most essential?

- game
- survey
- informational material

[2015-10-15 06:13] mateoclarke opened #33 "Policy Campaign - "Open by Default""
### Repo for this Project Idea Lives [here](https://github.com/open-austin/open-by-default). If you'd like to contribute, please take a look at the open [issues](https://github.com/open-austin/open-by-default/issues)

**Concise description**:
_(I'm trying something new. I want to draft a policy document using Github. This is a transparent and collaborative system we can use to craft and polish our

[2015-10-18 01:19] spatialaustin commented on #2
what do you think about scraping craigslist?

i know craigslist hates crawlers, but this would not be for finding listings, but for measuring affordability. prices per unit or bedroom aggregated by census tract, for example.

[2015-10-18 01:23] spatialaustin commented on #33
yes! related, and possibly as a supplement, i would love to see a running list of datasets the community wants open.

[2015-10-18 21:57] spatialaustin commented on #26
this is a great idea, and i would like to do it.

we should be able to schedule a process that reads in all the dataset metadata and updates a metadata dataset on the data portal.

@haileypate , how are you compiling that dataset metadata json? i figured out that this will get you the metadata for a single dataset:
https://data.austintexas.gov/api/views/xxxx-xxxx/rows.json

how do you view all dat

[2015-10-20 03:36] VictoriaODell opened #34 "Open Austin Policy/Advocacy Toolkit"
**Concise description**:
A policy packet that aggregates and simplifies the information needed to better engage everday civic hackers and outsiders to better know the landscape of Austin Open data and gov so that they can engage appropriately. ~Whew talk about a run on~

**Link (more details/brain dump/alpha)**
Example of what we are looking for here(https://drive.google.com/open?id=0B1cMlEZm_nJ0T

[2015-10-21 05:12] mscarey commented on #29
The link to the PDF with the "WHITE LODGING SERVICES CORP." agenda item was http://www.austintexas.gov/edims/document.cfm?id=239704. The steps I took to get to it were to go here: https://austintexas.gov/department/city-council/council-meetings, then follow the link to here: http://www.austintexas.gov/department/city-council/2015/20151001-reg.htm, then click the link to the PDF. I think @tgregonei

[2015-10-22 18:20] Marion3Sanchez commented on #31
Thank you for the meeting! You guys are AwEsOmE!

[2015-10-30 04:23] mateoclarke commented on #27
I'm having a hard time understanding the data on the Financial Services website.
https://austintexas.gov/financeonline/finance/financial_docs.cfm?ws=1&pg=1

Seems like the 2015-16 proposed budget is published as two volumes in pdf format.

Then there is the "raw data" that seems to keep track of what is budgeted vs what is spent, but that only updates as the money is spent.
https://data.austintexa

[2015-10-31 18:46] luqmaan commented on #30
I've added transitime predictions to Instabus. https://github.com/luqmaan/Instabus/pull/217

As far as measuring accuracy, it looks like Transitime has some reporting built into the webapp.

See the conversation on #transitime slack for more info.

![image](https://cloud.githubusercontent.com/assets/1275831/10865320/a9d35e06-7fd5-11e5-8ae0-4f373e8d4910.png)
![image](https://cloud.githubusercontent

[2015-10-31 18:46] #30 closed

[2015-10-31 20:35] mateoclarke commented on #33
@spatialaustin: I made this for you. :sun_with_face:
https://github.com/open-austin/liberate-the-data

[2015-11-03 15:27] mtb33 commented on #26
I'd be happy to help with this; would anyone like set up a group for it at the Civic Hack Night?

[2015-11-03 22:11] luqmaan commented on #26
@mtb33 I've added it to the hackpad. https://openaustin.hackpad.com/3-November-2015-civichacknight-e2Cad5mmOrS

[2015-11-03 22:20] mateoclarke commented on #26
Worth noting here. There was a [conversation](https://github.com/open-austin/open-data-progress-report/issues/10) about data portal analytics related to our [Open Data Progress Report](https://github.com/open-austin/open-data-progress-report) project.

https://github.com/open-austin/open-data-progress-report/issues/10

![](https://cloud.githubusercontent.com/assets/5697474/9508271/d1bbcb46-4c19-11

[2015-11-04 02:49] haileypate commented on #26
check out the dataset of datasets here: https://docs.google.com/spreadsheets/d/1bPd9P3NLpf-_DpwGhxus0AseuqaU2WVfqBHYF5tbD0E/edit?usp=sharing

[2015-11-04 03:09] mtb33 commented on #26
Script repository: https://github.com/mtb33/data-portal-analysis

[2015-11-04 03:23] luqmaan commented on #26
:+1:

Do you want to transfer the repository to the open-austin? That way the URL becomes https://github.com/open-austin/data-portal-analysis.

[2015-11-04 14:27] prestonp opened #35 "Boilerplate for static pages"
**Concise description**:

Create a boilerplate project to create static page applications similar to [austingreenmap](https://github.com/open-austin/austingreenmap) or [austin-park-equity](https://github.com/open-austin/austin-park-equity). This would be highly sporkable and easily deployed to github pages.

**Link (more details/brain dump/alpha)**

The front end tooling ecosystem changes a lot, b

[2015-11-06 15:54] VictoriaODell commented on #31
A couple of questions:
1. Did the last 2 initiatives have a digital application/site or anything to accompnay them?
2.  How long do the initiaves live?

[2015-11-06 16:20] Marion3Sanchez commented on #31
1. The African American and Latino/Hispanic Quality of Live did not have a digital application. It was primarily face-to-face and paper surveys. We are having those elements as well, but wanted to have a digital engagement piece as well.
2. The initiative will live for a long time. The African American has been in placed for about 10 years and the Hispanic/Latino for about a couple of years. For t

[2015-11-13 20:21] mtb33 commented on #26
I'm having a hard time using the Socrata API to get information that's in the datasets.json file @haileypate provided.

URLs like this: https://data.austintexas.gov/api/views/xxxx-xxxx/rows.json don't provide metadata.
URLs like this: https://data.austintexas.gov/resource/xxxx-xxxx.json return almost the same thing, but also without metadata. I can't figure out why they're different.

Which API en

[2015-11-19 06:11] davemcphee opened #36 "What's City council talking about in my neighborhood?"
**Council and Boards / Commissions agendas are plentiful, long and difficult to parse. How can I know what's going in my area? This tool will parse addresses from various agendas, geocode them, and display them on a google map for an easy overview**:

**https://github.com/davemcphee/CouncilAgendaMapper**

**WPeople who have 30 seconds to spend on finding out if an item of interest is coming up in

[2015-11-19 06:28] davemcphee commented on #36
The plan is to scrape all City meetings, not just Council but all boards and commissions, and allow users to narrow down results by dates, boards, districts, past dates, etc.

Possibly add a City Councillor voting history on items, board member / commissioner voting records, etc.

Pie in the sky idea: have the city re-write their agendas in a modern open data format, instead of typing it up in MS

[2015-11-19 14:46] luqmaan commented on #36
Great idea! A similar project was started at [hack for change](http://atxhackforchange.org/): https://github.com/open-austin/council-connect.

Another similar project idea is to parse lobbyist data out of the agendas: https://github.com/open-austin/project-ideas/issues/29.

-------

I think the city is in the process of finding a new system for their agendas and such.

-------

@davemcphee @mscare

[2015-11-19 15:43] davemcphee commented on #36
Yeah I saw that. As I read through the projects a slow horror dawned on me that someone had already done what I'd just built, but they seem fairly different.

Looks like @mscarey's perl scraper no longer works on the current "html" format of the agenda?

[2015-11-19 17:06] mscarey commented on #36
Yeah the old scraper was made by Greg. I know it's not running anymore and I don't know if it can still run. I'll be at Ship It.

[2015-11-20 00:25] luqmaan commented on #36
FYI @davemcphee https://github.com/open-austin/liberate-the-data/issues/5

[2015-11-20 17:12] sarabehunek opened #37 "Add data to City Gram"
Austin has 3-1-1 data available on City Gram (https://www.citygram.org/), but there is an opportunity to review the data on the Open Data Portal, identify datasets that could be offered through CityGram, and to link them up.

[2015-11-21 21:23] avidas commented on #35
:+1:

[2015-11-21 23:15] ss2k opened #38 "Help for Austin Vets"
We should have a site that helps match jobs / training programs to veterans living in Austin. We could match what they did in the military and help them transition to a civilian job.

[2015-11-23 03:55] mateoclarke commented on #38
Hi @ss2k! Can you update your comment using this template? We'd love for you to elaborate on your idea.

https://github.com/open-austin/project-ideas#template-for-new-project-ideas

[2015-11-23 21:09] betsydupuis opened #39 "Icon Set: Open Austin"
**Concise description. What problem are you trying to solve?**:
Looking across projects, I've noticed a number of projects that have similar icons that are specific to Open Austin / Civic minded projects.

It would useful to have a set of icons for bootstraping projects quickly. It would also promote a layer of design consistency.

**Link (more details/brain dump/alpha)**

**Who will use/benefit f

[2015-11-23 23:35] luqmaan commented on #39
I think this project idea solves a problem that we face and I'm sure many other brigades face. Maybe we could even release this work through CfA like Code for Hawaii did with https://github.com/codeforamerica/awesome-civic.

We've needed plenty of icons for Austin Green Map.

- Some are from maki: https://www.mapbox.com/maki/
- Some are from the noun project: https://github.com/open-austin/austing

[2015-11-23 23:43] luqmaan commented on #39
I've opened a PR to add an icons section to the awesome-civic list. https://github.com/codeforamerica/awesome-civic/pull/13

@betsydupuis Do you have any icon sets that could be added?

[2015-11-24 00:04] betsydupuis commented on #39
@luqmaan I have done some work on designing a consistent set and have created a build process.

I can totally design some icons.

I think we need these steps:
**V1**
1) Create layout templates (this is important for reasons)
2) Create a build process
3) Write base CSS for the icons
4) Write docs.
5) Add existing icons

**V2**
1) Write / Design a styleguide
2) Redesign the set to be internally cons

[2015-11-30 21:43] betsydupuis commented on #39
I created an example build system.
https://github.com/betsydupuis/svg-icon-sprite

Next I'm work on documentation for aligning the icons against the typographic baseline.

It's not an exact science because of variations in fonts and browsers. Previous work I've done on icons has been more controlled because we were working against the styleguide for a particular brand using a particular font.

Her

[2015-12-01 02:49] rainfay commented on #36
Sounds interesting

[2015-12-02 18:52] luqmaan opened #40 "Fix Austin OpenDataCache"
**Concise description. What problem are you trying to solve?**:

All the data on http://www.opendatacache.com/data.austintexas.gov/ looks like it stopped updating 5 months ago.

**Link (more details/brain dump/alpha)**

http://www.opendatacache.com/data.austintexas.gov/

**Who will use/benefit from this project?**

Right now nobody specific. But in general users of data.austintexas.gov that need f

[2015-12-03 18:08] ericwg opened #41 "Help Reduce Run off for New Development"
Hey everyone.  I could use some help working on a policy item to help reduce flooding in Austin.  I'm with [AURA](http://www.aura-atx.org), and we're a grassroots urbanist group working for abundant housing and an Austin for everyone:

Short version:  The City is rewriting it's land development code (LDC) in a big project called CodeNEXT.  We're hoping that CodeNEXT can help solve a lot of problem

[2015-12-03 18:14] davemcphee commented on #41
Here's a repo of the data being used: https://github.com/davemcphee/LCRARainFallanalysis
(I'm Alex S. btw)

[2015-12-03 19:16] luqmaan commented on #41
Thanks dave

[2015-12-04 16:03] davemcphee opened #42 "CoA fork of statedecoded.com"
statedecoded [http://www.statedecoded.com/] is a tool that imports a city's code, indexes it in Apache Solr, and does all kinds of smart cross linking, making searching through code much easier. A couple of Code for America teams have already implemetned something like this for themselves.

It's mainly PHP, and requires you to feed it an XML formatted copy of the full code. I've sent an email to t

[2015-12-04 16:04] davemcphee commented on #42
repo: https://github.com/davemcphee/AustinDecoded
URL: http://52.90.198.43/

I mainly wanted to get this up and running to see Solr in action.

[2015-12-08 16:56] mateoclarke commented on #24
Wondering if this type of analysis could be extended to food trucks...

This article goes into some new regulations for food truck vendors: http://www.mystatesman.com/news/news/local/new-regulations-taking-effect-for-food-trucks/npdMF/

Without spending any time looking, wondering if there is data available...

[2015-12-08 17:35] tyarkoni commented on #24
Sure, all of the same analyses could just as easily be applied to food trucks (except maybe any spatial analysis, since trucks tend to move around). It does seem a bit weird that the food truck inspection data isn't released in the same file. Maybe they're worried about the 20% rate of inspection failure for food trucks contaminating the overall estimate. Doesn't explain why those data haven't bee

[2015-12-08 17:40] mateoclarke commented on #24
Could also be that for some esoteric reason, Food Truck inspection data is collected by Travis County Health & Human Service instead of CoA? Food Trucks aren't restricted to geography (like you said) so having the inspection at the county level could make sense? We'd need to do more research to figure out where that data lives (CoA vs TravCo) and then see if it couldn't be merged into the existing

[2015-12-15 22:18] davemcphee commented on #42
Pulling the instance down for now as I don't have time to work on it, but if anyone knows how to find the  CoA's municode contact person, and have them get us an XML dump of Austin's municode library (a service that municode offers to customers like CoA), that would be awesome.

None of my attempts have gotten a reply :(

[2015-12-15 22:23] mateoclarke commented on #42
Do you know what department that contact would be live in? Code Enforcement? Or CTM (IT)?

[2015-12-16 00:58] davemcphee commented on #42
No, but I figured someone one the City Clerk's office? Maybe?

[2015-12-16 19:36] davemcphee commented on #42
Arrgh

![Image of City Clerk email](http://i.imgur.com/iOsQnIk.png)

[2015-12-28 23:20] mscarey commented on #42
That's hilarious.

[2016-01-05 06:55] TeknoFiend opened #43 "Tool for finding business that don't allow "open carry" of handguns"
### The Repo for this project lives [here](https://github.com/open-austin/open-carry/). If you're interested in contributing, check out the open issues [here](https://github.com/open-austin/open-carry/issues).

#### Concise description. What problem are you trying to solve?:

Would be nice to have a tool (API + site or mobile app) for keeping track of which businesses don't allow handguns to be ca

[2016-01-05 16:36] VictoriaODell commented on #43
Hey, this is a cool idea. I have a few friends that are pretty anxious about open carry too. Also, don't forget to use the template for new project ideas(below).

**Concise description. What problem are you trying to solve?**:

**Link (more details/brain dump/alpha)**

**Who will use/benefit from this project?**

**Project Needs (dev/design/resources)**

**Status (experiment, alpha, beta, official

[2016-01-05 23:09] TeknoFiend commented on #43
Great, thanks!

[2016-01-06 01:56] Srickshaw commented on #43
I'd be interested in helping out on this project - it sounds like a really important thing to have.

[2016-01-06 20:16] whgest commented on #31
Mentioned this to a couple people, but I worked with the city last year to make a simple mobile survey app, visible at http://www.budgetboxapp.com/welcome.

It's configurable, supports multiple languages and device types (good ol' bootstrap) and can update a socrata database.

Simple and basic (just me and one designer worked on it), but proven and tested. Might be useful as a foundation for a pro

[2016-01-06 22:58] Marion3Sanchez commented on #31
Thank you for the comment. Jill Goodman presented at the meeting and we got some very important feedback which we took into consideration. The engagement tool is now called "Conversations Over Tea," and we are providing a variety of teas and a beautiful mug for the host. What we were trying to do is to have an app for community members that wanted to provide the feedback. Your groups recommended j

[2016-01-06 23:58] whgest commented on #31
Simple is good. Good luck with the project!

[2016-01-12 20:07] mateoclarke commented on #43
Just found a new list of private universities' gun policies: http://apps.texastribune.org/private-university-campus-carry/

[2016-01-15 19:14] ataetemadi opened #44 "Freecycle for Food"
**Concise description. What problem are you trying to solve?**

Get unwanted food to people who want it.

**Link (more details/brain dump/alpha)**

I regularly throw out all sorts of perfectly good food from my freezer or from my pantry where I didn't like it or I took so long to do anything with it that it expired. I wanted to do something about this ridiculous hunger epidemic in one of the riche

[2016-01-21 20:04] davemcphee opened #45 "City council meeting - staff costs"
An issue city staff mentioned to me was how during a council meeting, a huge amount of staff are sitting around, waiting for their turn for hours sometimes.

The idea is to find out what staff is at a meeting waiting for their item, and then use their salary (public) to calculate how much (time/money) is being spent due to council meetings not sticking to a defined agenda order.

Once some data ha

[2016-01-21 20:06] davemcphee commented on #45
Or have an idea of the most "costly" items (10 legal staff, 10 other city staff, 12 members of the public, costing approx $16k per hour of them all waiting around for the same item), and then sort agenda items based on those numbers. Most expensive one first obviously.

[2016-01-29 05:48] VictoriaODell opened #46 "Additional labels"
Hey, can we look into adding some labels from this list? [Girl Develop It Labels](https://github.com/girldevelopit/gdi-new-site/labels)

I think the "Beginner Friendly" one is my favorite.

[2016-01-29 05:48] VictoriaODell commented on #46
Would also be helpful when I start tweeting out project needs. :bird: :hankey:

[2016-01-31 23:36] mscarey commented on #44
You might want to look at keepaustinfed.org (@keepaustinfed on Twitter). They have a similar goal and I think they developed some of their software at a Code for America event a few years back. I think they had some regulatory issues preventing spur-of-the-moment donations. They may be able to benefit from more app/website work though.

[2016-02-01 13:24] ataetemadi commented on #44
Thanks! I will contact them and offer my help. They do have a similar goal, but of course it is not the same idea.

[2016-02-01 22:02] afkamalipour commented on #43
Count me in for being interested in helping with this app.

[2016-02-02 15:39] mateoclarke commented on #44
Another open source project to be aware of is this Food Rescue App built with Ruby on Rails for Vermont. http://datalook.io/food-rescue-vermont/

[2016-02-02 17:16] mateoclarke commented on #46
:+1:

[2016-02-03 01:39] luqmaan commented on #46
I like these labels but I don' think they really apply to any of the current issues. Even the `Beginner Friendly` one.

[2016-02-03 01:39] #46 closed

[2016-02-03 01:45] VictoriaODell commented on #44
Sorry about the label thing above, I was trying to see what that label said.

[2016-02-13 14:40] mmdotz commented on #43
I'm interested in helping with this. Will anyone be working on this at the Civic Hack today at the library?

[2016-02-13 15:22] luqmaan commented on #43
@mmdotz FYI, the civic hack is at Urban Co-Lab not the library. http://www.meetup.com/Open-Austin/events/228334157/

[2016-02-13 16:53] twomice commented on #43
Some prior art for consideration: https://www.texas3006.com/ (originally for 30.06 concealed-carry prohibition, but now including 30.07 for open-carry). I believe there are one or two mobile apps that aim to track this as well.

I'll also note that this tool would be useful and interesting for licensed handgun carriers as well as those who wish to avoid them.

[2016-02-14 07:17] luqmaan commented on #24
https://github.com/Chicago/food-inspections-evaluation

[2016-02-14 14:40] tyarkoni commented on #24
Neat! I wanted to build a predictive model of inspection scores when I was working on my notebook, but for Austin, the data aren't really there to support it. The city doesn't release the nature of the violations that led to each score, which would be a huge factor. And as far as I know, DSHS doesn't make any data on food licenses publicly available (though I imagine one could obtain it via a requ

[2016-02-15 18:06] nvergos commented on #24
@tyarkoni I created a series of predictive models (mostly classifiers) of inspection scores with varying success (but not higher than 70%) as a capstone project for a data science bootcamp I took over the past 3 months. I am in the process of polishing my notebooks before pushing them to GitHub. I was wondering whether I could use your exploratory analysis notebook as well in order to complement t

[2016-02-15 18:44] tyarkoni commented on #24
@nvergos, of course, please use the code for anything you like. I realize I forgot to add an explicit license to the project, so I just did that (MIT license).

Out of curiosity, what outcome were you trying to predict? And were you using within-restaurant features in the prediction (i.e., predicting a restaurant's future score in part based on knowledge of past scores), or in a completely out-of-

[2016-02-15 20:18] nvergos commented on #24
I started with an effort to predict whether a restaurant will pass or fail inspection given its location. Unfortunately there is a HUGE class imbalance problem since only 1% of the dataset rows actually correspond to failing restaurants in my analysis, so I reformulated my classifiers to decide whether a restaurant will achieve a "pristine" score (higher than 90) or not. I will be pushing the rest

[2016-02-15 20:24] luqmaan commented on #24
Lets ask for better data. https://github.com/open-austin/liberate-the-data

[2016-02-16 14:48] mateoclarke commented on #37
Hey @sarabehunek. Sorry for following up on this so late. Maybe you could help us understand what you need help with by filling out this template:
https://github.com/open-austin/project-ideas#template-for-new-project-ideas

**Concise description. What problem are you trying to solve?**:

**Link (more details/brain dump/alpha)**

**Who will use/benefit from this project?**

**Project Needs (dev/des

[2016-02-18 20:24] haileypate opened #47 "Build data visualizations for Austin Animal Services!"
**Concise description. What problem are you trying to solve?**:
The website coordinators for Austin Animal Services want to create new, dynamic data visualizations to replace the old, static [graphs](http://www.austintexas.gov/blog/fy15-quarter-1-austin-animal-services-statistics-reports) and [reports](http://www.austintexas.gov/sites/default/files/files/Animal_Services/AAC_December_2015_Monthly_R

[2016-02-18 20:31] mateoclarke commented on #47
:dog: :cat: :bird:

[2016-02-23 00:42] luqmaan commented on #24
@nvergos @tyarkoni Do you guys want to pitch/share your ideas/what you're working on at the next hack night?

[2016-02-23 01:05] tyarkoni commented on #24
Sounds good, but I don't think I'll be able to make it next week. Maybe the one after!

[2016-02-23 04:08] luqmaan commented on #24
Tuesday April 1?

[2016-02-23 04:59] nvergos commented on #24
@tyarkoni @luqmaan I will be happy to present - both March 1st and April 1st work for me, I'm sure I will be done with my analysis by then

[2016-02-24 15:39] mateoclarke commented on #43
Sketch City, the brigade in Houston has some Open Carry [project ideas)](https://docs.google.com/document/d/1kgVd1nvWPxJPAf4DueqTQ2nhRIHry7J4JGat43klQW0/edit) listed for their May 14 hackathon. Maybe there is a collaboration opportunity there.

One team could build an API, another could build some client side interfaces. Or even collaborate on both sides of the stack. What can we do to help get th

[2016-02-24 15:52] fileunderjeff commented on #43
Here in Houston, we're partnering with Moms Demand Action who are putting together the open carry dataset. http://momsdemandaction.org

We should collaborate!

[2016-02-24 15:52] fileunderjeff commented on #43
@mateoclarke thanks for the shoutout! it would be super awesome to collaborate on this and other projects.

[2016-02-24 15:54] fileunderjeff commented on #43
Here is an unofficial dataset from the Houston area: https://docs.google.com/spreadsheets/d/1h9sHI_HXr9AAKTkYXTi7BOLSeEKE4qieyaDyY3Jx5dw/edit#gid=0

[2016-02-26 04:02] woodb opened #48 "Tool for understanding local voting versus political issues"
#### Local Political Candidates Voting Records

#### Link (more details/brain dump/alpha)

If anyone wants to get their hands dirty with some SIRE scrapping, data munging, and then dumping to Github or some other cheap store, that :arrow_up: would be a good problem to solve for

http://austin.siretechnologies.com/sirepub/item.aspx?itemid=3804
http://austin.siretechnologies.com/sirepub/items.aspx?s

[2016-02-26 04:33] mateoclarke commented on #48
@davemcphee built http://austin.minutes.city/

And had a handful of ideas/projects around council issues.
https://github.com/open-austin/project-ideas/issues/36
https://github.com/open-austin/project-ideas/issues/45

[2016-02-26 04:36] mateoclarke commented on #43
http://meganvo.github.io/opencarryaustin/

[2016-02-26 04:51] davemcphee commented on #48
Hi @woodb Brandon! Looks like those "Item" voting records haven't been used in a while, I went back to the start of 2015 and none of the items contain any voting data :(

http://austin.siretechnologies.com/sirepub/item.aspx?itemid=42000

Shame...

[2016-02-26 13:48] fileunderjeff commented on #43
This is awesome!

Jeff Reichman
January Advisors <http://www.januaryadvisors.com/>
713.893.7930 . 832.477.7189 (m)
my story <http://linkd.in/QL0GW8> . @fileunderjeff
<http://www.twitter.com/@fileunderjeff>

On Thu, Feb 25, 2016 at 10:36 PM, Mateo Clarke <notifications@github.com>
wrote:

[2016-02-26 15:58] dheerajchand commented on #43
Defo interested in assisting on this!

[2016-02-26 16:48] mmdotz commented on #43
I'm a Rails person - junior and would really like to help if you think
there is a need.

On Fri, Feb 26, 2016 at 9:58 AM, Dheeraj Chand <notifications@github.com>
wrote:

[2016-02-26 20:24] TeknoFiend commented on #43
Hey guys. Glad there's so much interest in this (and related) projects. Unfortunately life is getting in the way at the moment and I won't have time to work on it. Someone want to volunteer to take over the reins?

[2016-03-01 20:29] PatiSilva commented on #14
Need assistance modifying the text on the attached image for the logo.  The title: School Discipline should be replaced by Texas School Discipline Lab. Styling stays the same.
![tx-appleseed-logo](https://cloud.githubusercontent.com/assets/4556185/13440870/ee5ee39e-dfb9-11e5-9f0a-a7e84495a9d5.jpg)
https://github.com/open-austin/project-ideas/labels/help%20wanted

[2016-03-01 22:56] grabblies commented on #48
Hi @woodb , have you thought anymore about this project? I'd love to brainstorm with you, and also do some of the scraping and data munging.

[2016-03-02 04:06] VictoriaODell commented on #14
@PatiSilva do you have the ai file for this or know the font?

[2016-03-02 04:08] johntyree commented on #14
We actually took care of this tonight with the help of @amaliebarras!

[2016-03-02 04:10] VictoriaODell commented on #14
sweet~ I just saw this.

[2016-03-02 04:23] amaliebarras commented on #14
@victoriaodell but fyi it’s called museo slab 300! sharing bc it’s cute & maybe you like it also

[2016-03-02 04:59] PatiSilva commented on #14
I don’t know the font since it is an image.

[2016-03-02 05:01] PatiSilva commented on #14
Thank you so much.  I just got home about 15 minutes ago.  Thank you @amaliebarras <https://github.com/amaliebarras>!

[2016-03-02 05:32] mateoclarke commented on #43
@mmdotz and I talked about this project tonight at Civic Hack Night and created a repo to get started.
https://github.com/open-austin/open-carry/

We both have experience with Ruby on Rails so we're going to start with a Rails API. :gem:  :steam_locomotive:

I'm more front end focused and Michelle is admittedly a jr rails dev, so if anyone has tips for designing a Rails API or wants to dig in with

[2016-03-03 20:20] kcwoodfield commented on #47
I'm interested in this project.  I've experience using d3 and have a few ideas.

[2016-03-03 21:27] haileypate commented on #47
@kcwoodfield awesome!! when can we chat? i'm  hailey.pate at austintexas dot gov

btw i started working on a little ETL project for this [here](https://github.com/cityofaustin/animal-services-dataviz)

[2016-03-05 20:46] decibel opened #49 "How Might We connect Job Seekers, Educators, Employers"
#### Concise description. What problem are you trying to solve?

Connect job seekers, educators and employers to:
- Improve communication and connectivity
- break social, economic and racial segregation
- empower people to live their passion in an economically sustainable fashion
#### Link (more details/brain dump/alpha)

![Planning Canvas](https://cloud.githubusercontent.com/assets/235814/1355041

[2016-03-05 20:47] spatialaustin opened #50 "Liberate Appraisal Data"
#### Concise description. What problem are you trying to solve?

Project with the goal of liberating Texas appraisal district data by making it avaialble in an open, usable format.

#### Link (more details/brain dump/alpha)

[open-austin/liberate-appraisal-data](https://github.com/open-austin/liberate-appraisal-data)

#### Who will use/benefit from this project?

Homeowners, renters, civic hackers

[2016-03-05 20:49] seusilva opened #51 "DWI Insights"
![img_2280](https://cloud.githubusercontent.com/assets/6819239/13550447/7449fd1e-e2e3-11e5-9709-d84e6416b5d1.JPG)

### What problem are we trying to solve?

We want to know if the police are making DWI arrests in areas where they are needed.

### Who will benefit (directly and indirectly) from this project?

The visualization will provide insight for the police and policy makers. Alcohol related t

[2016-03-05 20:53] mscarey commented on #51
Project Needs (dev/design/resources)

Person with spatial analysis skillset
Pandas or agate (python) for statistics?
Georeferencing tool and skillset to fit arrest and crash sites into regions
Probably Leaflet for mapping
Marketing help

[2016-03-05 20:54] Harefoot opened #52 "Increase internet infrastructure efficiency"
### “How Might We” statement
1.  How might we increase internet infrastructure efficiency because we know some public networks lock guest access for public internet?
### Who will benefit (directly and indirectly) from this project?
1.  Visitors (tourists)
2.  Visitors (businesses)
3.  Young professionals / students
4.  Low Income
5.  Homeless
### Links to any research/data available/ articles

htt

[2016-03-05 20:55] seusilva commented on #51
One of the results will be to produce data analysis and a map to identify gaps, disparities and patterns.

Alcohol related traffic fatalities are a significant public safety issue in Austin and we want to make sure that police resources are directed to areas where prevention can a difference.

[2016-03-05 20:57] dheerajchand opened #53 "How might we help interested voters get credible, accurate information about how, where and when to vote?"
### Project repo for the voteatx app is [here](https://github.com/open-austin/voteatx-app) If you'd like to contribute check out the open [issues](https://github.com/open-austin/voteatx-app/issues)

### “How Might We” statement

How might we help interested voters get credible, accurate information how, where and when to vote?
### Who will benefit (directly and indirectly) from this project?

End

[2016-03-05 20:57] seusilva commented on #51
Key Activities
Check on VisionZeroATX (a possible partner) website constraints.
Identify mapping and data visualization and data analysis software.
Identify data sources.
Collect and prepare data for ATX Hack for Change.
Ensure a permanent data source.
Publish map and analysis.

[2016-03-05 20:58] robojukie opened #54 "how-to-ride-the-bus"
### “How Might We” statement

How might we teach people to ride the bus system (for first time users) because we know it can be scary and intimidating.

### Who will benefit (directly and indirectly) from this project?

Directly benefit: New bus riders! People who want to ride the bus, but are scared to.

Indirectly benefit: Everyone! More people on buses will help reduce traffic and pollution.

#

[2016-03-05 21:03] McCnnll commented on #50
![liberate_appraisal_data](https://cloud.githubusercontent.com/assets/7535602/13550444/622c7d96-e2e3-11e5-843d-7a08d4dc121b.png)

[2016-03-05 21:04] JuddRogers opened #55 "Cultural Assets Census"
### “How Might We” statement

How might we help citizens identify cultural assets because they are at risk of being lost and Austin appeal/quality of life is closely tied to its cultural cache.
### Who will benefit (directly and indirectly) from this project?

City Planners/Policy Makers
Artists/Content Creators
Community Groups
Venue and Exhibition space owners
Citizens (Audiences)
Tourists
### L

[2016-03-05 21:06] Sahedeva opened #56 "Biking Safety"
#### Concise description. What problem are you trying to solve?

The problem is that there is no place where bikers can share and collect data about bike safety, use and infrastructure.

#### Link (more details/brain dump/alpha)

ride.report.com
labs.strava.com
bikeaustin.org

![img_1769](https://cloud.githubusercontent.com/assets/13663007/13550433/2e92544c-e2e3-11e5-8e7b-68cf6766c665.jpg)
![img_1

[2016-03-05 21:07] lalaloosay opened #57 "Affordable, Healthy Food"
### “How Might We” statement

How might we help consumers access more fresh, nutritious food because we know that it seems expensive.
### Who will benefit (directly and indirectly) from this project?

Single-working parents, communities at the poverty level, the elderly, immigrant populations and refugees
### Links to any research/data available/ articles

http://sustainablefoodcenter.org/
http://

[2016-03-05 21:08] ryegrammer opened #58 "Civic Focused Project Marketplace for Freelancers in Austin"
### “How Might We” statement

How might we help creatives connect with volunteers, businesses and non-profits.
### Who will benefit (directly and indirectly) from this project?

The community, developers, businesses and non-profits
### Links to any research/data available/ articles

None currently and still in progress.
### Photo of hack canvas

![img_4425 2](https://cloud.githubusercontent.com/as

[2016-03-05 21:09] ZeshanNSegal opened #59 "How might we increase the impact & awareness of xeriscaping with homeowners?"
#### Concise description. What problem are you trying to solve?

Lack of awareness about water conservation and xeriscaping. And, to create lasting environmental change by increasing community engagement. Watershed Protection.

Tell us what problem you're trying to solve.
#### Link (more details/brain dump/alpha)

https://data.austintexas.gov/browse?Additional-Information_Department=Austin+Water&T

[2016-03-05 21:14] spatialaustin commented on #50
suggested name: Appraisal Liberation Movement

[2016-03-05 21:16] decibel commented on #50
I'm available as a data architect.

[2016-03-05 21:18] decibel commented on #51
Austin city limits extend into Williamson county and possibly others. I suggest incorporating that into the project.

[2016-03-05 21:23] luqmaan commented on #56
http://www.cyclephilly.org/

https://cartodb.com/gallery/cycle-philly/

[2016-03-05 21:27] JuddRogers commented on #55
How might we:
![image](https://cloud.githubusercontent.com/assets/5130120/13550562/6e534d5e-e2e6-11e5-963c-37e4bcbcfd99.jpeg)

Planning Canvas
![image](https://cloud.githubusercontent.com/assets/5130120/13550570/ae770b28-e2e6-11e5-9306-c1fa69f51ef1.jpeg)

[2016-03-05 21:32] decibel commented on #25
There's a plethora of issue tracking solutions out there; you're not limited to github.

[2016-03-05 21:35] decibel commented on #22
Is there code for this? A repo? (Disclosure: I'm not a web coder, so I doubt I could help on this...)

[2016-03-05 21:36] luqmaan commented on #54
Actually maybe a better first step would be for us to talk to "users." We can ask them questions about:

- Have you ever considered riding the bus?
- Why don't you ride the bus?
- Have you ever tried to ride the bus?
- What do you think about people who ride the bus?

[2016-03-05 22:10] cnst commented on #52
An updated canvas -- http://www.meetup.com/Open-Austin/photos/26791695/447517070/ http://photos4.meetupstatic.com/photos/event/9/0/c/e/highres_447517070.jpeg

[2016-03-05 22:11] cnst commented on #52
An updated canvas -- http://www.meetup.com/Open-Austin/photos/26791695/447517070/ http://photos4.meetupstatic.com/photos/event/9/0/c/e/highres_447517070.jpeg

[2016-03-05 22:11] cnst commented on #52
An updated canvas -- http://www.meetup.com/Open-Austin/photos/26791695/447517070/ http://photos4.meetupstatic.com/photos/event/9/0/c/e/highres_447517070.jpeg

[2016-03-05 22:11] cnst commented on #52
An updated canvas -- http://www.meetup.com/Open-Austin/photos/26791695/447517070/ http://photos4.meetupstatic.com/photos/event/9/0/c/e/highres_447517070.jpeg

[2016-03-05 22:11] cnst commented on #52
An updated canvas -- http://www.meetup.com/Open-Austin/photos/26791695/447517070/ http://photos4.meetupstatic.com/photos/event/9/0/c/e/highres_447517070.jpeg

[2016-03-05 22:11] cnst commented on #52
An updated canvas -- http://www.meetup.com/Open-Austin/photos/26791695/447517070/ http://photos4.meetupstatic.com/photos/event/9/0/c/e/highres_447517070.jpeg

[2016-03-05 22:21] cnst commented on #52
An updated canvas -- http://www.meetup.com/Open-Austin/photos/26791695/447517070/ http://photos4.meetupstatic.com/photos/event/9/0/c/e/highres_447517070.jpeg

[2016-03-05 22:24] cnst commented on #52
An updated canvas -- http://www.meetup.com/Open-Austin/photos/26791695/447517070/ http://photos4.meetupstatic.com/photos/event/9/0/c/e/highres_447517070.jpeg

[2016-03-06 01:11] abbychoff commented on #56
some inspiration:
https://player.vimeo.com/video/72980283

[2016-03-06 15:04] mateoclarke commented on #50
Might be worth writing a one-pager for people to understand the policy issue. Then distribute to the County Commissioners. Or even some candidates like Jeff Travillion and David Holmes.

[2016-03-06 17:37] EllenLazaretti commented on #57
Additional references:
http://stretchrecipes.com/about/
http://itstimetexas.org/livinghealthier/

[2016-03-07 00:35] decibel commented on #7
Github doesn't seem an appropriate place to host this data; it's a version control system, not a database.

Perhaps we could get Google to donate some S3 space to Open Austin? That would allow for posting dumps of the entire Postgres database, as well as incremental updates.

[2016-03-07 00:45] CuriousG102 commented on #7
APD has changed their site, so the scraper associated with my project has been broken for a while now. It could be pretty trivially fixed by someone who knows Python and has time to read up on the libraries I'm using, but between school and an impending internship out of state I don't really have the time right now. So if there's still real interest in doing something with this data I'm happy to h

[2016-03-07 14:33] luqmaan commented on #7
@decibel We can use S3 since Code for America pays for our AWS.

But csv files on GitHub are easier to access.

[2016-03-07 19:26] decibel commented on #7
I was under the impression that the data was more complex than a single
CSV, but if it really is just a daily/weekly CSV file then github is
fine for raw data. It would be nice to see what exactly was in the
database someone mentioned.

In terms of hosting, if there's an AWS account already setup then that
would be an easy way to host the data pulling script.

[2016-03-07 19:57] VictoriaODell commented on #53
Hey @dheerajchand, You said this may drop because of availability. Can you tell me more about the obstacles you're facing? Is the whole team unable to contribute? I'm interested in moving this forward in some way and know a few sites that are addressing voting issues.

[2016-03-07 20:24] haileypate commented on #53
Hey, did anyone hear about an app that helps you find the polling place with the shortest line? I tried a brief google search, but no luck. Might be worth looking at to get ideas! I'll keep trying to find it..

[2016-03-07 20:27] haileypate commented on #25
@luqmaan wow, I totally missed your message on this thread! Thanks for that follow up in September =) Yeah, we're going to try github for now while we get a better handle on our requirements. Thanks all =)

[2016-03-07 20:30] mateoclarke commented on #53
So Open Austin has a voting place finder app. The main struggle is getting clean data out of Travis County Clerk in a timely manner. App functions fine though (just needs cyclical data updates from the Clerk). @chip-rosenthal was the lead on this project. @avickers helped with the front end.

http://voteatx.us/
https://github.com/open-austin/voteatx-app (front-end client)
https://github.com/open-a

[2016-03-07 20:33] VictoriaODell commented on #53
There's also http://gotidtexas.org/ voter id questions.

[2016-03-07 20:35] VictoriaODell commented on #53
I haven't used it but I saw the creators of this app present a few months ago. I don't know how active they are in developing this. Last I remember I think they were struggling with monetizing it : http://thinkvoting.com/the-voting-app/

[2016-03-07 21:01] avickers commented on #53
I have been involved with one of the national campaigns.  The county had a webapp at votetravis.com for the primaries.  After the vote was over it went to a placeholder image of Captain America for awhile, and now just redirects to a generic page.

[2016-03-07 21:28] CuriousG102 commented on #7
here is how the data is represented in the django server the scraper resides on
https://github.com/CuriousG102/interactives-backend/blob/f53e6ff5a600a39feaf0f2e3460272ab14f8a451/interactivesBackend/crimeAPI/models.py

The linked repo has the full implementation of rest api, interactives, etc. The data is fundamentally relational so any dump that doesn't preserve that will have issues. Which issues

[2016-03-07 22:22] decibel commented on #7
Just to throw out another option... Would [xml2dict](https://pypi.python.org/pypi/xmltodict) be an option? I'm actually using that for a client in a plpythonu function that translates xml to json. (I ultimately split json objects and arrays into separate tables then create views that represent all the fields, but that's probably more effort than it's worth here.)

BTW, it looks like the new APD si

[2016-03-08 01:50] luqmaan commented on #25
:tada:

[2016-03-08 16:00] prestonp commented on #22
@decibel I made a repo a while ago but I haven't gotten around to adding the photos to austin-green-map https://github.com/open-austin/austin-parks-photos

[2016-03-08 16:53] mateoclarke opened #60 ":fire: :fire_engine: Use data to prioritize fire station expansion"
### What problem are we trying to solve?

Austin is growing and the Fire Department, Public Safety Commission, and the Fire Fighters Union agree we need more stations in town. AFD has a target to respond to fires within 8 minutes. Travel time is closer to 4 minutes.

If we had access to fire incident response times, we could find the geographic areas with the most need for more stations.

### Who

[2016-03-09 02:48] VictoriaODell commented on #54
I just decided to start riding the bus more like yesterday. If ya'll need a fresh perspective on this I can help out. I still have some bus woes T_T

[2016-03-09 21:04] mateoclarke commented on #60
Found some helpful datasets:
- [All of the AFD datasets published to Socrata](https://data.austintexas.gov/browse?Additional-Information_Department=Austin+Fire&category=Public+Safety&utf8=%E2%9C%93)
- Fire stations [list](https://data.austintexas.gov/Public-Safety/Austin-Fire-Stations/64cq-wf5u) & [map](https://data.austintexas.gov/Public-Safety/AFD-Fire-Stations/immm-25ed)
- [AFD Fire Incidents 2

[2016-03-10 03:08] Woodley opened #61 "Petitioning App"
### A Simple App for Collecting Petitions
### What problem are we trying to solve?
### Issues:

Paper petitions tend to be hard to read have limited space and have to be converted to electronic data. Not everyone has a smart phone, many have flip phones or like me, no phones. Many smart phones are too small for reading. Some people have vision issues. Many places people collect petitions do not ha

[2016-03-10 03:44] luqmaan commented on #61
Would something like https://www.change.org/petition meet your needs?

[2016-03-10 05:07] Woodley commented on #61
Would something like https://www.change.org/petition meet your needs?`

@luqmaan
No, That is not an App and it requires Internet Connection to fill out. Thats the same thing as the current Bike Austin Website has. I need something that does NOT require Internet while in the field collecting Names for petition digitally and can upload them when connected later.

[2016-03-10 05:21] luqmaan commented on #61
https://itunes.apple.com/us/app/datafield-offline-form-survey/id470573506?mt=8

[2016-03-10 05:45] Woodley commented on #61
[code]
That is not a free app, It is a free trial, it looks very complicated and made for a wide range of customization. It cost a lot of money.
http://data-field.com/pricing/

Please do better research before replying.

[2016-03-10 05:51] luqmaan commented on #61
https://itunes.apple.com/us/app/feed2go-create-conduct-free/id615209915?mt=8

[2016-03-10 05:52] mateoclarke commented on #61
Hi @Woodley,

@luqmaan is just trying to help. Creating a custom app for Nook, Kindle, iOS, and Android would also be very costly. Developer's time is probably worth more than $90/month.

[2016-03-10 06:12] Woodley commented on #61
[code]
@luqmaan
That looks like a survey app with in app purchases... where you formulate questions and graph responses. "All questionnaires can be obtained via an in-app purchase."
https://feed2go.com/use-cases/
It is also only available for iOS and iPad.

I have already tried to find something to collect petitions offline and could not. Good luck.

[2016-03-10 06:25] Woodley commented on #61
[code]
@mateoclarke
The point of this app is not about money but to be used for public service and expandable for any volunteer to use any where in the USA or over seas. Volunteers do not have money to spend on apps, they already donate time to a cause. Help make America better.

Credit for people that help create public service app should be enough. Donation links by the credit can be used to hel

[2016-03-10 18:01] mateoclarke commented on #50
This could be an effective tactic:
http://chihacknight.org/blog/2016/02/16/chi-hack-nights-open-data-pledge-for-cook-county-clerk-of-the-circuit-court.html

[2016-03-10 22:47] mateoclarke commented on #37
### Live site: https://www.citygram.org/austin
Currently you can only subscribe to 311 notifications... but let's add more!

---
I was able to connect with @bigfleet who helps maintain the Citygram project. He pointed me to some info about what it takes to add more datasets to Citygram.

The family of middleware like Austin would be producing is here:
https://github.com/citygram/citygram-services

[2016-03-11 17:05] mateoclarke commented on #51
Worth following this national project: http://blogs.microsoft.com/on-the-issues/2016/03/11/data-science-for-safer-streets-datakind-vision-zero-project-expands-to-three-new-cities/

[2016-03-11 17:10] seusilva commented on #51
The idea has is roots in VisionZeroATX which I believe is part of the national network of Vision Zero cities.

[2016-03-16 16:31] Shirley-R commented on #55
We have a dataset of the Cultural Arts Division's cultural assets, but want to see that list grow as we hear from others about what they consider to be their cultural assets!

[PG Poster.pdf](https://github.com/open-austin/project-ideas/files/176407/PG.Poster.pdf)

[2016-03-17 13:18] cpomeara commented on #56
Code for America in Durham (NC) has a similar project:
https://github.com/BikeSafety/BikeSafety

[2016-03-17 16:27] johndinning commented on #36
There is now an dataset on the City's Open Data portal that be be useful for this project or related projects.

https://data.austintexas.gov/Government/Austin-City-Council-Agenda-Items/es7e-878h

[2016-03-17 16:33] mateoclarke commented on #36
:tada: thanks for the heads up @johndinning !!!

[2016-03-17 16:40] davemcphee commented on #36
* looks at 160 lines of python parser code, eye twitches *

[2016-03-18 15:35] luqmaan opened #62 "Bot to notify us when there's a new dataset on Socrata"
### What problem are we trying to solve?

There is a lot going on in the City of Austin's data portal (data.austintexas.gov). But to know what's going on, you have to:

- remember to check
- check the data portal
- see what's changed since the last time you visited

What if instead:

- A slack bot automatically posted to slack.open-austin.org anytime a new dataset was created
- Open Austin sent a

[2016-03-18 16:08] mateoclarke commented on #62
Socrata has an email notification feature:
https://support.socrata.com/hc/en-us/articles/202949758-Subscribe-to-notifications-when-dataset-is-made-public

Found out from @technickle on cfa.slack.com
<img width="1158" alt="screen shot 2016-03-18 at 11 07 10 am" src="https://cloud.githubusercontent.com/assets/5697474/13883920/a303c002-ecf9-11e5-845a-cc41b4e31021.png">

[2016-03-18 16:45] mateoclarke commented on #62
What about a twitter bot in addition to Slack bot and email?

[2016-03-18 17:41] rebeccawilliams commented on #62
:+1:

This would be great for all cities (and the federal government)!

Chicago created a Twitterbot w/ yahoo pipes (RIP yahoo pipes): https://twitter.com/OpenDataChicago cc @derekeder

It'd be great to get email alerts based on keywords like Scout too: https://scout.sunlightfoundation.com/ cc @konklone

[2016-03-18 17:46] riordan commented on #62
The @openaddresses project has a bot that alerts of any new possibly relevant/updated spatial datasets from the ESRI ArcGIS [Open Data Aggretator](http://opendata.arcgis.com/)

[2016-03-18 17:50] luqmaan commented on #62
@rebeccawilliams https://twitter.com/OpenDataChicago :+1: Looks great, added twitter to the issue.

@riordan Have a link to the bot or what its output looks like?

[2016-03-18 18:10] daguar commented on #62
I'd suggest a simple thing that polls the API endpoint for "list all datasets." If the result is different from the most recent poll (cached somewhere), it triggers an alert based on the diff and caches the new version.

Might even be feasible to do this with Zapier in some form.

[2016-03-18 18:15] hampelm commented on #62
Looks like there's an RSS feed with a title of "Newly created and updated datasets for data.austintexas.gov": https://data.austintexas.gov/catalog.rss

An RSS reader bot should be able to handle that!

[2016-03-18 20:47] decibel commented on #62
I'm interested in hacking on this tomorrow at the OpenHack. My initial thought is to use [feedparser](https://pypi.python.org/pypi/feedparser) to dump the catalog feed into a Postgres database for the input side. Output plugins (slack, twitter, etc) could then use [LISTEN](http://www.postgresql.org/docs/9.5/static/sql-listen.html) to get notifications of new items and do whatever is appropriate.

[2016-03-18 20:55] derekeder commented on #62
Howdy! I run the @OpenDataChicago twitter. It was run by the Socrata RSS feed + Yahoo Pipes (RIP indeed @rebeccawilliams)

A major challenge we encountered was with how Socrata publishes to their RSS feed. Chicago creates the dataset first, then vets it, *then* publishes it. The RSS feed never picked up on this and after a long series of customer service tickets it was still never resolved (@tomsc

[2016-03-18 21:10] luqmaan opened #63 "Bus tracker hardware"
### What problem are we trying to solve?

CapMetro publishes vehicle positions every two minutes. This is better than nothing, but in an ideal world we should have updates every five seconds. Because CapMetro uses the [LCRA radio system](http://www.lcra.org/community-services/community-and-economic-development/pages/telecom.aspx) to publish vehicle positions, ~2 minutes is the max frequency for ev

[2016-03-18 21:20] tomschenkjr commented on #62
@daguar this would be feasible through the `data.json` available for portals, e.g., data.cityofchicago.org/data.json (this power's the R package's RSocrata function, `ls.socrata()`)

@derekeder - yes, from what I understand, the publishing workflow when turning a data set from private to public misses the "publish to RSS feed" step. So this impacts the `catalog.rss` feed that @hampelm mentioned.

[2016-03-18 22:33] davemcphee commented on #50
I don't know exactly what the appraisal data is,  is this something that's in the travis tcad db?

[2016-03-18 23:26] mtb33 commented on #62
The [data portal analysis project](http://github.com/open-austin/data-portal-analysis) could easily be extended to do this; it uses an internal database to keep track of every data resource available, so this issue (publishing of new datasets) corresponds to program logic that already exists: a new dataset was published if a new record is stored in the database.

Also, the portal analyzer gets the

[2016-03-19 00:21] luqmaan commented on #62
@mtb33 :+1: for moving the portal analysis project in that direction. I think the most important thing to keep in mind is making sure its easy to setup for other cities.

[2016-03-19 04:34] Ahelsinger commented on #43
Hey, y'all! Looks like I'm jumping in a little late here. I just saw this in
Luqmaan's email.

It's awesome that there's so much enthusiasm behind this. My company has an app that has a feature that shows gun permit information. http://www.spiritstexas.com/

We're launching an update for the app with some additional functionality soon.

[2016-03-19 14:56] mateoclarke commented on #56
If you guys decide to look more at mapping accidents or bike thefts, check out this project that @CuriousG102 started working on at last year's ATX Hack for Change. https://github.com/CuriousG102/bikes-in-austin

Would be cool to try to bring this project over the finish line to have something similar to Durham's Bike Safety map.

[2016-03-19 16:14] AustinBulldog commented on #50
I have published several in-depth investigations regarding the Travis Central Appraisal District (TCAD) and exposed numerous defects in the system. Here are links:
1. Appraisal records hidden from public view (Nov. 18, 2011). This piece resulted in immediate action by TCAD to make property owners prove they were entitled to confidentiality: http://www.theaustinbulldog.org/index.php?option=com_cont

[2016-03-22 00:32] spatialaustin commented on #50
@davemcphee yes, it's the full TCAD database we're interested in. What year(s) do you have and can you give them to us?

[2016-03-22 00:58] AustinBulldog commented on #50
I don’t have the full year. My appraisal data project only pulled the properties that had homestead exemptions. Now of those all I seem to have are spreadsheets.

Ken

Ken Martin
Founder, Editor & Publisher
The Austin Bulldog

Nonprofit investigative Reporting in the Public Interest
Phone O: 512-474-1022
e-mail ken@theaustinbulldog.org <mailto:ken@theaustinbulldog.org>
web www.theaustinbulldog.org

[2016-03-22 13:34] davemcphee commented on #50
Hi John,

I have the full 2015 dump, in mysqldump format, a little over 8GB. No idea
how to get it you :( 2 DVDs in the post? I know it's 2016 but 8GB is still
a decent file size...

On Mon, Mar 21, 2016 at 7:32 PM John Clary <notifications@github.com> wrote:

[2016-03-22 14:02] luqmaan commented on #50
Can you upload it to S3? https://aws.amazon.com/blogs/aws/amazon-s3-multipart-upload/

If you're willing to do that we can figure out the details on Slack.

[2016-03-22 19:04] mateoclarke commented on #51
http://www.govtech.com/dc/articles/San-Jose-Calif-Uses-Data-to-Reduce-Traffic-Fatalities.html

[2016-03-22 19:44] Woodley commented on #56
You guys should check out the VeloHound app which is free and made in
Austin, Tx by our very own Gonzalo Camacho.

*VeloHound, Bicycle and Roadway Safety Report AppBy Gonzalo Camacho*
App Description

VeloTexas App is a research tool designed to assist in making roads safer
mainly for bicyclists.

Users (bicyclists) using the app allow us to identify bicycling routes.
This data along with existing

[2016-03-23 03:33] johnclary commented on #50
@AustinBulldog no worries. thanks for your interest. we will be drafting a letter to send to TCAD executives and would welcome your support.

[2016-03-30 19:13] johndinning commented on #36
So I noticed a small issue on the Austin City Council Agenda Items dataset.

I have the column SireLinkWithDraftBackup linking to the entire agenda instead of to just the backup for that item.  For example, Item #6 on the Feb 11th agenda takes you here: https://austin.siretechnologies.com/sirepub/mtgviewer.aspx?meetid=1015&doctype=Agenda
instead of here: https://austin.siretechnologies.com/sirepub

[2016-03-30 19:43] Woodley commented on #36
John, Check out two options. Need to figure out if you need to preserve
directory structure incase of same name.

Preserving directory tree.
http://stackoverflow.com/questions/25643454/copy-all-files-with-certain-extension-while-maintaining-directory-tree

Not copying directory tree.
http://stackoverflow.com/questions/23196512/how-to-copy-all-files-from-a-folder-including-sub-folder-while-not-copy

[2016-03-30 20:55] johndinning commented on #36
Thank you Woodley, the not copying directory tree was just what I needed!

[2016-03-30 21:34] davemcphee commented on #36
One of the issues is that Sire actually uses a unique ID for each agenda Item (the ID in this example link:
    https://austin.siretechnologies.com/sirepub/agdocs.aspx?doctype=agenda&itemid=54910
)
But it's never referenced outside of Sire, making it very difficult to reference a particular item (instead, you need to say Item No 42 on the x/y/x meeting) - and even then, those numbers change as oth

[2016-03-30 21:56] johndinning commented on #36
Yes, that unique ID is definitely key to creating links to the draft backup materials.

However, once the meeting is past, the complete backup that is on the City Clerk's website is referenced by meeting type, date, and item number. That's what they use in their URL conventions for linking to agenda materials including actions taken at the Council meeting.

[2016-04-01 01:18] scascketta commented on #63
I started working on this idea this week. I've got an old Raspberry Pi Model B+, a USB GPS receiver, and a USB 3G modem. I'm working on a Go program to use a publish-subscribe protocol called MQTT to send updates to [AWS IoT](https://aws.amazon.com/iot/) (which has a managed MQTT broker) every 5 seconds. AWS IoT can then forward the updates to DynamoDB using its rule system, and we can write a Lam

[2016-04-02 17:18] scascketta commented on #63
...or we could just write an Android app to speak to AWS IoT, and let Android do all the hard work with cellular data connections and GPS. Chime in if you have Android experience.

[2016-04-05 23:44] robertsosinski opened #64 "Open FEC Campaign Finance Data"
### What problem are we trying to solve?

Understanding the federal election process by analyzing campaign finance data.
### Who will benefit (directly and indirectly) from this project?

The American People, especially those interested in how campaign donations affect the political process.
### Links to any research/data available/ articles

https://beta.fec.gov
https://api.open.fec.gov/developer

[2016-04-06 01:45] schludermann opened #65 "Austin Clubhouse services curator/aggregator"
### What problem are we trying to solve?

A bit of background is in order. The Austin Clubhouse exists to provide acceptance and empowerment so adults living with mental health diagnoses can pursue personal goals and play a meaningful role as co-workers, colleagues, family members and friends. Towards this goal the Austin Clubhouse serves as a place for meaningful activities and connects Clubhouse

[2016-04-08 02:08] ssharif1 commented on #65
http://www.open-austin.org/civic-tech-canvas/

[2016-04-14 13:45] layspmb commented on #56
City of Austin is investing $5,000 in ride report dash board.
•	How do you encourage community to adopt use?
•	Route suggestion feature coming soon
•	Can we get contact details Ride Report and offer to collaborate?
•	Can they release anonymous data from Portland to play with during the Hack?
•	What interest and bandwidth do they have for improving or bespoke modification of the app?
•	Could we cre

[2016-04-16 19:18] wilsaj opened #66 "Community Data Portal"
### Link to project repo is [here](https://github.com/open-austin/data-portal)

### What problem are we trying to solve?

We need a data portal by the peeps for the peeps :hatching_chick: - credit goes to @mateoclarke for the idea!

Sometimes we come across datasets that need a good home. These can be data published by NGOs and governments, data generated by other Open Austin projects, or just dum

[2016-04-19 17:25] layspmb commented on #56
### We need to:
Create a list of functionality
Reach out to Ride Report // chat with Nathan at city
Create a catchy project name
Write project description
- About 100 words
- Tie to VZ Action Plan language
- Expansion to non-cyclists

### Questions to Answer – WHY, WHAT, HOW
-	What are we trying to achieve?
-	Are we getting there with this tool/plan?
-	Are we keeping both groups of users in mind?

[2016-04-28 19:09] Woodley commented on #56
Just thought you might like the Walk America Survey and App to track
walking to see if this type of data collecting will work with your app
plans for non-biker and bikers alike. On the survey link you can see how
they used past data.

*Add Your Voice to the Walking Movement*

There are new opportunities available to provide important information and
feedback to the walking movement.

   - The Nati

[2016-05-02 23:20] mateoclarke commented on #59
Hey @ZeshanNSegal, are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have already filled out here. `@mention` me o

[2016-05-02 23:22] mateoclarke commented on #58
Hey @ryegrammer, are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have already filled out here. `@mention` me or

[2016-05-02 23:22] mateoclarke commented on #57
Hey @EllenLazaretti & @lalaloosay , are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have already filled out here

[2016-05-02 23:24] mateoclarke commented on #56
Hey @Sahedeva, @abbychoff, @cpomeara, @Woodley, @layspmb, are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have a

[2016-05-02 23:25] mateoclarke commented on #55
Hey @Shirley-R, @JuddRogers, @haileypate, are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have already filled ou

[2016-05-02 23:27] mateoclarke commented on #54
Hey @robojukie, @luqmaan, are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have already filled out here. `@mentio

[2016-05-02 23:28] mateoclarke commented on #53
Hey @dheerajchand, are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have already filled out here. `@mention` me o

[2016-05-02 23:29] mateoclarke commented on #52
Hey @Harefoot, @cnst, are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have already filled out here. `@mention` m

[2016-05-02 23:30] mateoclarke commented on #51
Hey @seusilva, are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have already filled out here. `@mention` me or sh

[2016-05-02 23:30] mateoclarke commented on #49
Hey @decibel, are you or any of your other team members interested in taking this project to the ATX Hack for Change June 3-5th? If so, all you need to do is submit your idea to the [project proposal Github page](https://github.com/atxhack4change/2016-project-proposals#atx-hack-for-change-2016). Good news is it asks for much of the same info y'all have already filled out here. `@mention` me or sho

[2016-05-04 00:12] mscarey commented on #64
There's no reason we can't do exclusively federal projects, but a link to local politics might make this easier for us. We might think about a way to limit it to deeper research of Texas candidates for federal offices (or even just central Texas).

[2016-05-11 19:46] scascketta commented on #63
I built a scrappier version ([repo](https://github.com/scascketta/bustracker-android)) of what I posted above a couple weeks ago. The location tracking works fine (simple to begin with). Instead of using MQTT to contact AWS IoT, it's now just HTTP -> API Gateway -> Lambda -> DynamoDB. The next steps are:

- [ ] Minimize data usage (prohibitively expensive at around ~80MB/day).
  * I think requesti

[2016-05-23 03:42] tonysms commented on #61
I'm a local Android dev and I'm willing to help / create the app. Can we meet and discuss the functionality?

[2016-05-23 17:38] Sahedeva commented on #56
Sorry, I have been busy with work and have not been very active. I would love to take the project to ATX Hack for Change. I will check with the group to see if there is a consensus of interest, and will submit a proposal if it is a go.

[2016-05-23 19:27] Woodley commented on #61
Hello Tony, I would be happy to meet to discuss this app. What part of the
day would be best for you and what area of Austin? I am in Far north Austin
but regularly go downtown for meetings. -John

On Sun, May 22, 2016 at 10:43 PM, Tony <notifications@github.com> wrote:

[2016-05-23 20:17] tonysms commented on #61
Hi Woodley,

I'm pretty flexible, otherwise weekend mornings work pretty much best
for me for discussions & coffee :-)

I live @ the NW part of the town, so we can meet somewhere around Domain
for example, or if you plan to attend the meetup this Saturday (Civic
Hack Saturday ), we can meet there?

On 5/23/16 2:31 PM, Woodley wrote:

[2016-05-24 20:08] amaliebarras commented on #66
### Yay PANDA! 🐼

The live Open Austin data portal is [here](http://www.open-austin.org/data-portal/)
Github repo associated with the live thing is [here](https://github.com/open-austin/data-portal)
I forked the portal for the design and have been working out of [here](https://github.com/amaliebarras/data-portal-new)
Link to portal design (PANDA 🐼 ) is [here](https://github.com/amaliebarras/data-p

[2016-05-25 01:36] Woodley commented on #61
I believe I will have time later this week in the afternoon or
evening. Weekends
are usually not good for me. maybe lunch at subway in the domain, I believe
they have wifi.

On Mon, May 23, 2016 at 3:17 PM, Tony <notifications@github.com> wrote:

[2016-05-25 04:06] tonysms commented on #61
NP. This Thursday or Friday afternoons work for me. Just let me know the
place and time - you can contact me directly - tony at
smartmobilesolutions dot com

On 5/24/16 8:36 PM, Woodley wrote:

[2016-05-30 20:28] capndave commented on #47
I have a bit of Tableau experience and would be happy to play around with/fancy up that prototype if you want, let me know!

[2016-05-31 15:38] MireyaGalarza opened #67 "Community volunteer open data census reviewer"
### What problem are we trying to solve?

Need a community volunteer for Open Data Census
### Who will benefit (directly and indirectly) from this project?

Open data community
### Links to any research/data available/articles

Links here.http://us-city.census.okfn.org/year/2016
### What are the next steps (validation, research, coding, design)?

Create an account http://us-city.census.okfn.org/ a

[2016-06-08 00:03] durs125 commented on #51
I looked at the DWI data from the Austin PD or 2015 and made a heat map of it. The worst cases are in the morning on Saturday when the buses do not run.
https://durs.cartodb.com/viz/7a36ccca-3339-11e5-9a6f-0e43f3deba5a/public_map
I would like to work on this project.

[2016-06-08 02:02] mscarey commented on #51
No, there's no slack channel right now. Feel free to make one! This was one
of those projects we developed as a design concept, and I don't think
anyone held even a single work session for it, so no one else even dug up
that DWI data in your map. I do still think DWIs are particularly useful to
map, moreso than other crimes, so the idea of a crime map just for DWIs
kind of makes sense.

On Tue, Ju

[2016-06-08 13:49] johndinning commented on #51
Very cool!

From: David Infortunio [mailto:notifications@github.com]
Sent: Tuesday, June 07, 2016 7:04 PM
To: open-austin/project-ideas
Subject: Re: [open-austin/project-ideas] DWI Insights (#51)

I looked at the DWI data from the Austin PD or 2015 and made a heat map of it. The worst cases are in the morning on Saturday when the buses do not run.
https://durs.cartodb.com/viz/7a36ccca-3339-11e5-9a

[2016-06-08 19:36] mcsilverback commented on #56
Really sorry I didn't check this out in time to participate in teh hack for change. I worked on a personal project to identify risky locations for bikes & predestrians (places where people were injured).

[2016-06-08 21:04] layspmb commented on #56
Hi Lorin, sounds interesting, do you have any data or mapping to share?

Sent from my iPhone

[2016-06-09 03:57] Woodley commented on #51
For some TXDOT DWI information, Check out the presentation from TXDOT
Vision Zero which has some data and statistics.

2016 Meetings: Pedestrian Advisory Council June 07, 2016
https://www.austintexas.gov/cityclerk/boards_commissions/meetings/121_1.htm

Texas Motor Vehicle Crash Statistics - 2015. Statistics contained in these
reports are generated from data provided by TxDOT's Crash Records
Inform

[2016-06-09 04:00] Woodley commented on #56
The City of Austin and TXDOT are using different systems, Check out the
presentation from TXDOT Vision Zero which has some data and statistics.

2016 Meetings: Pedestrian Advisory Council June 07, 2016
https://www.austintexas.gov/cityclerk/boards_commissions/meetings/121_1.htm

Texas Motor Vehicle Crash Statistics - 2015. Statistics contained in these
reports are generated from data provided by Tx

[2016-06-11 03:20] luqmaan commented on #67
@MireyaGalarza How do I become a reviewer? I've created an account and I'm not sure what to do next. I tried to propose some changes to Austin's transit dataset (the old link is broken), but got this error `Luq, You do not have permissions to review this submission.`

[2016-06-13 03:09] VictoriaODell opened #68 "Building Permit App"
### What problem are we trying to solve?

Austin [Development Services Department](http://www.austintexas.gov/department/building-permits) handles building permits for the city. Currently, it's hard for people to find out if they need a permit and if so what application and steps they need to do before turning one in. It's also difficult for city employees to find the correct form despite knowing

[2016-06-13 03:45] VictoriaODell commented on #68
Open Austin Slack channel for this project: https://open-austin.slack.com/messages/permitting/

[2016-06-13 11:41] MireyaGalarza commented on #67
@luqmaan   Please send an email  request for "reviewer" access to
 [mailto:usopendatacensus@gmail.com] .
Thank you

[2016-06-20 01:45] durs125 commented on #51
It would be nice if someone else could verify my data. I believe that there is new data out for the year 2016. It would be nice to see that the data for 2016 matched the data I had. Was there anything about there being better, more up to date information than the Austin data portal?

[2016-06-21 04:31] amaliebarras opened #69 "Lightweight WikiMap Clone"
### What problem are we trying to solve?

<img width="1071" alt="screen shot 2016-06-20 at 11 14 31 pm" src="https://cloud.githubusercontent.com/assets/11826646/16218021/f18c16d6-373e-11e6-9b3e-79a1584b2b9f.png">

Crowdsourcing maps is awesome and useful for showing demand and interest in things, but they are tough to learn to make, and the [tools](http://wikimapping.com/wikimap/admin/index.php) c

[2016-06-22 13:58] luqmaan commented on #69
What are some of the existing tools that do this (or a similar thing)?

- http://wikimapping.com/ - Collaborative, $350
- https://crowdmap.com/map/austindogparks/ - Collaborative, Free
- https://www.google.com/work/mapsearth/products/mymaps.html - Public, Free

[2016-06-22 17:39] amaliebarras commented on #69
Sent message to wikiMapping people asking if they'd donate a project to us.

[2016-06-22 17:54] amaliebarras commented on #69
Just tried playing around with CrowdMap to make [this](https://crowdmap.com/map/sidewalkpleaseatx) - am finding it impossible to add a location, I think their search is broken?

[2016-06-22 18:02] amaliebarras commented on #69
[code]

[2016-06-22 18:03] luqmaan commented on #69
I just added a location.

![image](https://cloud.githubusercontent.com/assets/1275831/16277674/955aa0da-3879-11e6-9692-64db57190147.png)

Click `Create Post` and then click the map button.

![image](https://cloud.githubusercontent.com/assets/1275831/16277677/9a08c1d4-3879-11e6-8811-1ba1a0ad005f.png)

![image](https://cloud.githubusercontent.com/assets/1275831/16277654/7b87ea00-3879-11e6-96ed-03d9a

[2016-06-22 18:04] amaliebarras commented on #69
@luqmaan Yeah but you just added a random location, I was able to do that too - but I am trying to add a specific location at the intersection of Rainey & Caesar Chavez. I can't search for it and I can't drop a pin where I want it.

[2016-06-30 14:43] mateoclarke opened #70 "Budget Tradeoff Game"
### What problem are we trying to solve?

**How might we get broad citizen input on the city budgeting process and move the City towards [participatory budgeting](http://www.participatorybudgeting.org/about-participatory-budgeting/what-is-pb/)?**

The City of Austin has shown interest in getting citizens input in the budgeting process. More recently, the City has included a digital strategy for bu

[2016-07-01 09:54] cuyaproductions commented on #70
I'm going to be out of town for the 7/2 hack day, but I'd like to stay in the loop on this.

[2016-07-02 16:00] mateoclarke commented on #70
Started a repo with a few more whiteboards 💩
https://github.com/open-austin/hack-the-budget

[2016-07-02 16:14] mateoclarke commented on #70
Also started a slack channel:
https://open-austin.slack.com/messages/hackthebudget/

[2016-07-02 16:25] graceatkins commented on #70
Mateo,
Can you add me to the open Austin slack channel? I would love to be a part
of the convo.

On Saturday, July 2, 2016, Mateo Clarke <notifications@github.com> wrote:

[2016-07-02 16:33] amaliebarras commented on #70
hey @graceatkins - it's called #hackthebudget

[2016-07-02 16:36] amaliebarras commented on #70
if you have trouble, shoot an email to info@open-austin.org and I can add you manually :)

[2016-07-11 17:36] amaliebarras opened #71 "Greenbelt Map!"
### What problem are we trying to solve?

Exploring Austin's greenbelt seems to rely heavily on word-of-mouth, there is no collaborative map solution.

### Who will benefit (directly and indirectly) from this project?

People visiting Austin who may not know who to ask about greenbelt entrances, people who want to search for map spots based on activities

### Links to any research/data available/a

[2016-07-11 17:37] amaliebarras commented on #71
Thought of @mapineda :)

[2016-07-14 19:04] rcboler commented on #56
Hi there @Sahedeva -- I recently started coming to Open Austin events, and love this group. I've had an idea for a safety-focused bicycle routing app for a while (http://robertboler.com/bikearound), and would love to lend my design hand here or join forces! Holler at me if you're headed to one of their upcoming events.

[2016-07-14 22:20] layspmb commented on #56
Hi @rcboler thanks for your message! Your project looks great. I'll let you know when we are next headed to Open Austin and we can meet up.

[2016-07-18 22:33] werdnanoslen opened #72 "Array of Things"
### What problem are we trying to solve?

Much "smart city" work is muddled in politics and regulation and often loses much of what makes the concept coherent. In the end, it usually stays an abstract concept or ends up as the butt of a joke about dumpsters and street lights talking to each other. Sometimes it ends up actually being both useful and truly a novel IoT endeavor, like what Chicago's d

[2016-07-19 00:23] safeandfree opened #73 "Turn daily arrest data posted by Harris County into a real database"
### The repo for this project idea is [here](https://github.com/open-austin/harris-county-bookings)

I think this is easy, but it is over my head. :)

There is a daily data file posted in Houston here
http://www.jims.hctx.net/jimshome/jimsreports/jims1058.txt

This is 24 hours of arrests. The file is replaced every day. We are trying to show that Harris County's jail is full of people they didn't

[2016-07-19 00:30] mapineda commented on #71
@amaliebarras this is awesome. Let me close the recycling-please and xeritopia loop and I'll get on this as soon as possible.

[2016-07-19 00:34] amaliebarras commented on #71
I totally hear that #somanyprojects #solittletime

[2016-07-19 01:45] werdnanoslen commented on #73
Is the filename always "jims1058.txt"? If so, you could use python's [urllib.urlretrieve](http://stackoverflow.com/a/22776) or wget running as a [cron job](https://www.mattcutts.com/blog/how-to-fetch-a-url-with-curl-or-wget-silently/).

If the file name changes, what is the pattern? I presume the 1058 in "jims1058.txt" changes depending on the date? Once the pattern is known, that can be used to c

[2016-07-19 03:22] mapineda commented on #71
Would be cool to do a "Greenbelt GO AR app"

[2016-07-19 05:13] werdnanoslen commented on #71
I made an entirely javascript boilerplate app for mobile map i/o here: [https://github.com/werdnanoslen/mobile-map-io](https://github.com/werdnanoslen/mobile-map-io), if that might be a good place to start from.

[2016-07-19 05:25] edsfocci commented on #71
@amaliebarras about Greenbelt Map.kml.zip, where did you get the data from? Can we talk to someone from Pars & Recreation, or similar organization?

I found this:
https://tpwd.texas.gov/fishboat/fish/recreational/lakes/greenbelt/

[2016-07-19 14:46] safeandfree commented on #73
The filename is always jims1058.txt. I will look at these ideas. I’m not a programmer but I’m not afraid to muck around a little. ☺

Kathy Mitchell
Texas Criminal Justice Coalition | Grassroots Sentencing Campaign Coordinator
1714 Fortview Road, Suite 104
Austin, Texas 78704
Office: (512) 441-8123 Ext. 116
Fax: (512) 441-4884
www.TexasCJC.org<http://www.texascjc.org/> | www.facebook.com/TexasCJC<x

[2016-07-19 15:21] safeandfree commented on #73
OK I officially don’t understand. ☺ I have looked at both options, and in my complete ignorance I like the urllib.urlretrieve option…but now what?

Kathy Mitchell
Texas Criminal Justice Coalition | Grassroots Sentencing Campaign Coordinator
1714 Fortview Road, Suite 104
Austin, Texas 78704
Office: (512) 441-8123 Ext. 116
Fax: (512) 441-4884
www.TexasCJC.org<http://www.texascjc.org/> | www.facebook

[2016-07-19 15:28] Woodley commented on #73
FYI, I noticed this htm version that is easier to read with page breaks.
http://www.jims.hctx.net/jimshome/jimsreports/jims1058.htm

But, I understand you just want the raw data to merge into your database.

Bookings and Releases within last 24 hours, This one does not have a
jims503.txt
http://www.jims.hctx.net/jimshome/jimsreports/jims503.htm

These reports do not have context. I also notice tha

[2016-07-19 15:28] colbywhite commented on #73
@werdnanoslen The URL is the same. I was looking at it last night and again this morning. Take a look at the http://www.jims.hctx.net/jimshome/jimsreports/ directory. It seems that `jims1058.txt` gets updates everyday around 2:30am. I already have a ruby class that pulls `jims1058.txt`, parses it (using the native CSV lib if you're wondering), and holds the information. That part isn't too difficu

[2016-07-19 15:39] colbywhite commented on #73
In addition to putting the info in a DB, which will allow you to search and query against the info, you probably want to save the actual file somewhere for reference later (S3 maybe?). That just allows you to rebuild the DB from scratch if you want/need.

Also, just for the sake of having it recorded since it took a while for me to make the connection last night, JIMS stands for Justice Informatio

[2016-07-19 15:49] safeandfree commented on #73
Fascinating. I didn’t notice the gap between arrest and booking. Yes, people have gotten “lost” although it is supposedly rare. Unless the police officer is just driving around with the arrestee in his car for days, the person is probably stuck at some point in the booking process. These kinds of questions are among the many, many things this data will start to allow us to investigate.

Kathy Mitc

[2016-07-19 16:05] Woodley commented on #73
@ Coby, Speaking of JIMs, that is making me hungry for Jims Food.

@safeandfree I think by law they can hold you for 48 hours before charging
or releasing you.

On Tue, Jul 19, 2016 at 10:49 AM, safeandfree <notifications@github.com>
wrote:

[2016-07-19 16:15] werdnanoslen commented on #73
@colbywhite I think @safeandfree said they can load the files as-is into Access, since the it seems to be a database format delimited by semicolons and tabs.

@safeandfree have you used Ruby before? What is the OS on the computer that you'd like the files to be downloaded to?

[2016-07-19 16:42] colbywhite commented on #73
Ah, I see. Didn't realize that was in an Access format. Sweet. That makes it even easier then. I'm not familiar with Access, but I assume it has a remote import feature? A cron job that just shoves the file into Access should suffice? Doesn't matter which language then. Whichever has the better library for importing into Access I guess.

[2016-07-19 19:23] safeandfree commented on #73
Access does have a remote import feature. I tried to use it to go directly to that page and got all sorts of errors. ☺

Kathy Mitchell
Texas Criminal Justice Coalition | Grassroots Sentencing Campaign Coordinator
1714 Fortview Road, Suite 104
Austin, Texas 78704
Office: (512) 441-8123 Ext. 116
Fax: (512) 441-4884
www.TexasCJC.org<http://www.texascjc.org/> | www.facebook.com/TexasCJC<x-msg://4/www.

[2016-07-19 19:25] safeandfree commented on #73
I hope you are getting these replies. I should go into git…

Yes, I’m at a small nonprofit with the basic Microsoft tools on a Windows 7 operating system. I can work on something that is hosted remotely too.

Kathy Mitchell
Texas Criminal Justice Coalition | Grassroots Sentencing Campaign Coordinator
1714 Fortview Road, Suite 104
Austin, Texas 78704
Office: (512) 441-8123 Ext. 116
Fax: (512) 441-4

[2016-07-19 21:44] colbywhite commented on #73
@safeandfree, if you're able to get a hosted Access instance, then that would definitely make this even simpler. Load up the file, shoot it into your Access instance. I, unfortunately, have no experience with hosted Access instances. So I wouldn't know where to look. Somebody else have input on that?

Assuming you get that instance, would you want some kind of website on top of it in order to quer

[2016-07-19 22:23] mateoclarke commented on #73
So if it's important for the data to be accessible from the desktop MS Access application on Kathy's machine, we might be able to run a Microsoft Azure SQL database and configure her Access app to pull data from the Azure cloud.

[Linking Access Applications to SQL Server - Azure SQL DB](https://msdn.microsoft.com/en-us/library/hh313055(v=sql.110).aspx)
[Office Support: Link to SQL Server data](ht

[2016-07-19 22:32] safeandfree commented on #73
This sounds awesome!

Kathy Mitchell
Texas Criminal Justice Coalition | Grassroots Sentencing Campaign Coordinator
1714 Fortview Road, Suite 104
Austin, Texas 78704
Office: (512) 441-8123 Ext. 116
Fax: (512) 441-4884
www.TexasCJC.org<http://www.texascjc.org/> | www.facebook.com/TexasCJC<x-msg://4/www.facebook.com/TexasCJC> | www.twitter.com/TexasCJC<x-msg://4/www.twitter.com/TexasCJC>

TCJC works

[2016-07-19 22:50] werdnanoslen commented on #73
After Azure credits run out, I will see what I can do about providing access to bluemix, which I will likely be working on at ibm.

[2016-07-19 23:01] mateoclarke commented on #73
yeah, good point. An Azure SQL database should be simple to migrate to whatever hosting platform necessary. (If it isn't simple we shouldn't use it.)

[2016-07-19 23:56] luqmaan commented on #71
@werdnanoslen github.com/open-austin/austingreenmap

[2016-07-20 02:42] edsfocci commented on #71
Disregard my link, it it the wrong part of Texas. However, some way of figuring out the official boundaries of the Greenbelt may be helpful.

[2016-07-20 03:02] edsfocci commented on #71
Found this map:
https://data.austintexas.gov/dataset/City-Of-Austin-Parks/99qw-4ixs

[2016-07-20 14:44] luqmaan commented on #73
I don't think this project needs a database.

A database is a lot of work to setup, is not open, and not easy to access.

A simpler and more option solution is to do what we did with the [construction-permits](https://github.com/open-austin/construction-permits) project:

- Script runs once a day
- Calls http://www.jims.hctx.net/jimshome/jimsreports/jims1058.txt and converts it to CSV
- Stores the

[2016-07-20 15:02] safeandfree commented on #73
I totally want this data to be someplace where people can get it for lots of purposes. A primary purpose for me is to be able to surface patterns and ID people who are the victim of patterns of over policing. Yesterday, I took several days of the data, merged it into a single data file, and then ran cross tabs in order to ID people who were arrested on a single class C misdemeanor charge so I coul

[2016-07-20 15:23] mateoclarke commented on #73
I know this data is already published online, but how do we feel about dumping a huge list of names of people who have been booked along with their birthdays into a publicly viewable Github repo as CSVs. Is there a concern for their privacy? This could be one argument for why we would want to store it on a DB and only give ppl access if they request it.

If we're ok with storing this data publicly

[2016-07-20 16:48] amaliebarras commented on #71
Hey @edsfocci ! Some friends of mine went out into the field and collected the data over the course of a couple weeks.

Let's keep track of parks data requests! I think there is certainly parks data that isn't out in the open. I bet between Open Austin and my buddies on the outside, there are people who'd be into some in the field data exploration :)

Also, going to add do your list of links here:

[2016-07-20 18:01] safeandfree commented on #73
Not only is this data public already, but there are some unsavory web companies that actually post it already. I'm not sure we're making people's privacy any worse by putting this on git for now. In the long run, this is likely to be a big issue at the leg this session because, yes, its a problem from a privacy standpoint.

________________________________
From: Mateo Clarke <notifications@github.

[2016-07-21 23:30] colbywhite commented on #73
@luqmaan, I agree if we can get away with not setting up a database, we should. But do you think that kind of search functionality fulfills the type of searching @safeandfree is looking for? For instance, using your construction permit example, I can search for how many `Sign Permit`s have been issued ([5,866](https://github.com/open-austin/construction-permits/search?utf8=%E2%9C%93&q=Sign+Permit&

[2016-07-22 01:14] safeandfree commented on #73
Hey all, yes to just getting a script to start pulling the data every day without me having to remember. That would be AWESOME.

But also, is there a way to have that script add the new file every day to one spreadsheet instead of making separate files? Ideally I would like to have a year of data slowly accumulate. When its a daily file, it gets a bit rough to manually merge them all together.

An

[2016-07-22 04:59] Woodley commented on #73
I am not an attorney and nothing in this can be construed as legal advice.
Having said that...

If you are concerned about privacy you should contact a lawyer. You could
also contact the Attorney General's Office to see what they thin about
privacy. The following are publicly available resources;

GOVERNMENT CODE
TITLE 5. OPEN GOVERNMENT;  ETHICS
SUBTITLE A. OPEN GOVERNMENT
CHAPTER 552. PUBLIC INF

[2016-07-22 15:19] safeandfree commented on #73
Legally, this is completely public information. That maybe needs to change, and there will be some discussion during the next legislative session about the privacy rights of people who have been arrested, booked and charged with crimes but are not yet “guilty” because they are pre-trial. For now, there is a significant research benefit to making this data available to the criminal justice reform m

[2016-07-22 15:24] mateoclarke commented on #73
@colbywhite, Is it cool if I go ahead and create a repo for this under our github org, "open-austin" and set you up as admin?

What should we name the repo?
`open-austin/jims`
Or something more descriptive?
`open-austin/harris-county-bookings`

[2016-07-22 15:33] colbywhite commented on #73
`open-austin/harris-county-bookings` is good.

FYI: A quick, casual, less-than-five-minutes Google search indicates that there may be some other counties using JIMS (Knox, Tennessee seems to use something like it), but for now, we're focused on Harris County. If someone from another county/city wants our help with it, then we can make a new repo with the common JIMS code. But `open-austin/harris-c

[2016-07-22 15:38] mateoclarke commented on #73
https://github.com/open-austin/harris-county-bookings

[2016-07-22 17:36] luqmaan commented on #73
Should we consider modifying some of the columns that personally identify people:

- Change name to a number
- Change birth date to birth year

[2016-07-22 17:40] werdnanoslen commented on #73
Perhaps just for this repo, leave off the unnecessary columns for
development, then add them back for production (safeandfree's computer).
Just so that we don't improve the SEO of someone's records.

[2016-07-23 03:43] fileunderjeff commented on #73
I have been scraping this data since May 2015. Happy to make it available, provided there are privacy safeguards for the names.

[2016-07-23 04:41] luqmaan commented on #73
Nice @fileunderjeff!

Do you mind turning your code and data into a repo? Or opening a PR to https://github.com/open-austin/harris-county-bookings? Whichever one works best for you.

[2016-07-23 17:25] fileunderjeff commented on #73
@luqmaan no problem! Let me confer with some local attorneys first, but I am happy to put together the database. Right now, my scraper is pretty rudimentary. I'd like to work on it a little more, and maybe build an API. Stay tuned!

[2016-07-23 17:56] luqmaan commented on #73
Excellent.

Before do a bunch of work to design and build an API, lets make things simple. Just a bunch of CSV files in a github repo.

CSV files in a repo has a bunch of advantages over an API, specifically:

- easy to browse https://github.com/open-austin/construction-permits/tree/master/data
- easy to export/download
- easy to use in pandas
- no need to learn how to use an API
- no need to repo

[2016-07-23 18:29] fileunderjeff commented on #73
@luqmaan I am not going to release the raw files without consulting a lawyer first. This is something we are already working on for 2 other projects in Houston.

[2016-07-25 17:16] safeandfree commented on #73
WOW!! Can you give me a call?

Kathy Mitchell
Texas Criminal Justice Coalition | Grassroots Sentencing Campaign Coordinator
1714 Fortview Road, Suite 104
Austin, Texas 78704
Office: (512) 441-8123 Ext. 116
Fax: (512) 441-4884
www.TexasCJC.org<http://www.texascjc.org/> | www.facebook.com/TexasCJC<x-msg://4/www.facebook.com/TexasCJC> | www.twitter.com/TexasCJC<x-msg://4/www.twitter.com/TexasCJC>

TC

[2016-07-25 18:32] mateoclarke opened #74 "Water Quality warnings bot"
### What problem are we trying to solve?

I saw this headline:
[City of Austin warns residents against swimming in Bull Creek because of high bacteria levels](https://communityimpact.com/austin/northwest-austin/city-county/2016/07/22/city-austin-warns-residents-swimming-bull-creek-high-bacteria-levels/)

That made me think about civic apps I've seen from other cities:
Chicago: [Is there sewage in

[2016-07-28 01:05] colbywhite commented on #73
I was able to carve away some time to do the initial cut. Will work on committing the file next. Shall we close this ticket for now and move the convo over?

As far as the privacy goes, I'm just going to follow in the permit repo's footsteps until a decision is made on how Open Austin wants to handle privacy in these sorts of situations. But I am eager to hear what y'all come up with. (And maybe t

[2016-07-28 01:12] luqmaan commented on #73
@colbywhite No, we should keep the issue open. I think there's still some discussion going on.

Also, we still need to figure out whether @fileunderjeff will be opening a PR to add the data he's already collected to https://github.com/open-austin/harris-county-bookings or if he'll be creating his own repo.

[2016-07-28 01:24] fileunderjeff commented on #73
@colbywhite @luqmaan i'll be creating a repo out of Sketch City, but only after I talk to a lawyer. I urge you all to consider the privacy issues at stake here. Arrests are not adjudications. They can be expunged, found not guilty, etc. The JIMS file also has a ton of personally identifying information that needs to be reviewed by a lawyer prior to publishing. So it is not happening overnight. Tha

[2016-07-28 01:26] fileunderjeff commented on #73
@luqmaan also happy to host the repo from Open Austin. Doesn't matter to me.

[2016-07-28 01:29] fileunderjeff commented on #73
Other things we are planning to do with this data (in case anyone wants to join in!):

- Assess the accuracy of "white" and "hispanic" classifiers by running names through http://www.textmap.com/ethnicity/
- Looking at arrests where possession of marijuana 0-2oz is the prompting charge, and assessing the FTE hours associated with processing these arrests.

This data is really interesting and there

[2016-07-28 04:43] mateoclarke commented on #73
@fileunderjeff, Have you used [data.world](data.world) yet? We have invites we can share. That might be a good place to host the data once personal identifiers are removed.

![](http://dsh.re/17276)

You can host a dataset for free Public or Private, just like Github. You can control who has access to view, query, and download the data. Maybe that's a solution to the sharing question. They don't h

[2016-08-03 03:01] 3vivekb commented on #63
At the @vta the CAD/AVL system produces gps info 90 seconds slow (over 1080 baud modems) but they pump their numbers into some proprietary Trapeze / Xerox software that made rather decent predictions.  Not every two minutes mind you.

Instead though the buses got a Icomera/Moovit wifi routers installed that gives instant gps and speed data.  And we're gonna build our real-time off of that.

Long s

[2016-08-03 13:23] luqmaan commented on #63
Thats what CapMetro uses as well.

Most of the routes don't have WiFi unfortunately.

[2016-08-05 16:36] mateoclarke commented on #74
Recent related project out of Houston (Sketch City)
https://twitter.com/kuukihouston

[2016-08-06 15:52] rhoadescw commented on #24
I’m interested in translating and presenting data in a way that is valuable to consumers.  Texas’ method of health inspection scoring is a step toward making data consumable, and as most cities and counties that publish scored health inspections say, a single score is not indicative of an establishment’s dedication to a healthy environment. I’ve worked on a project that pulls health inspection sco

[2016-08-06 16:19] tyarkoni commented on #24
I can't speak for other people, but this was just a small side project for me; I don't have any plans to do anything else with these data. That said, I would be apprehensive about attempting to quantify trends in the data at the single restaurant level absent some sense of the reliability of those trends. I think one runs a serious risk of detecting patterns in noise, in the sense that, e.g., a se

[2016-08-08 14:47] luqmaan opened #75 "Update our react projects to use create-react-app"
### What problem are we trying to solve?

We have a bunch of projects that use React. Most of them use a bunch of copypasta that we wrote in 2014. https://github.com/luqmaan/Instabus/blob/v0.0.3/gulpfile.js

The problem with this is that they are all broken in one way or another.

### Who will benefit (directly and indirectly) from this project?

New contributors to any of the Open Austin projects

[2016-08-08 15:39] prestonp commented on #75
+1 for create-react-app. It makes up and running so much easier! That said, the permit-server doesn't use react atm so we could remove it off the checklist.

[2016-08-12 21:37] luqmaan opened #76 "Get @CutePetsAustin bot working again"
https://twitter.com/cutepetsaustin is a bot that tweets lost animals

It used to run as a cron job, but that stopped working.

Is anybody interested in setting up @CutePetsAustin to run daily through AWS Lambda?

https://github.com/open-austin/CutePetsAustin

[2016-08-16 23:39] almereyda commented on #69
I believe uMap could be interesting for you: https://umap.openstreetmap.fr

[2016-08-16 23:41] almereyda commented on #1
I propose this issue also gets the [`mapping` tag](https://github.com/open-austin/project-ideas/issues?q=is%3Aissue+is%3Aopen+label%3AMapping).

[2016-08-17 18:05] edireson commented on #53
Not to hijack this issue, but if anyone is interested in pushing something like this forward, I'd love to grab a coffee/beer with you. I'm particularly interested in day-of voting, but there is obviously plenty of interesting efforts that could be made here.

(I'm one-half of FOMO//ATX and did the primaries polling line app. It was thrown together over a weekend, after [reading this tweet](https:/

[2016-08-17 18:18] VictoriaODell commented on #53
I'm participating an event the end of the month that is related to this issue and am interested to see what comes out of it. [Texas Tribune Turnout.](https://www.texastribune.org/texas-turnout/?utm_source=Texas+Tribune&utm_campaign=b11e6d4160-trib-email&utm_medium=email&utm_term=0_d9a68d8efc-b11e6d4160-101523513&mc_cid=b11e6d4160&mc_eid=75d4c09533) Applications are closed now unfortunately but thi

[2016-08-17 18:20] mateoclarke commented on #53
I just saw a headline yesterday about Google pushing new features in its search related to voting:
https://techcrunch.com/2016/08/16/google-search-now-includes-info-on-how-to-vote/

[2016-08-18 02:52] colbywhite commented on #73
FYI: The work in [open-austin/harris-county-bookings](https://github.com/open-austin/harris-county-bookings) is ready to be deployed. Then this could be closed, correct?

[2016-08-18 17:09] safeandfree commented on #73
Hey all...I have somehow missed the updates here. Is this the work that Jeff in Houston has been doing or is this the work we started (and completed?) here at Open Austin? I got a little confused about who was on first. [😊]

________________________________
From: Colby M. White <notifications@github.com>
Sent: Wednesday, August 17, 2016 9:52:54 PM
To: open-austin/project-ideas
Cc: Kathy Mitchell;

[2016-08-18 20:49] scascketta commented on #76
I can work on this. I just need the Twitter credentials for the @CutePetsAustin account. Alternatively, I need the `aws-openaustin.pem` file so I can access the existing EC2 instance to get the credentials there.

[2016-08-20 00:27] colbywhite commented on #73
@safeandfree I've been completed the work from a Open Austin perspective for a while. Just waiting on some credential information so I can deploy it and start it up. You'll be able to see the data in the [open-austin/harris-county-bookings](https://github.com/open-austin/harris-county-bookings) repo's data directory when it's running.

And it sounded like @fileunderjeff will be doing his work unde

[2016-08-20 01:33] colbywhite commented on #74
@mateoclarke do you know where that Kuuki bot gets its data from? I can't find the code in @sketch-city's codebase. It says TCEQ, but I didn't see a real friendly way to extract data out of the TCEQ website.

In general, you have an idea on where to get data like this?

I'm not sure if a Twitter bot is the best format for this. I'm not sure tweeting about _every_ little warning is super useful. Th

[2016-08-21 15:59] scascketta commented on #76
Completed in https://github.com/open-austin/CutePetsAustin/pull/7 .

[2016-08-21 15:59] #76 closed

[2016-08-21 19:27] woodb commented on #74
If there are auto-samplers by the USGS in areas, those are great sources of data.

I'll do some looking around to see what's out there.

[2016-08-21 19:37] mscarey commented on #73
I haven't looked at this project before and I don't really know how it works, but it doesn't look to me like it's handling privacy correctly yet. The file names with the .accdb extension still have the arrestees' names. I can understand collecting that data, but I don't think Github is the right place to store it. The .csv files have no names, but they still have addresses, which are also personal

[2016-08-21 20:24] colbywhite commented on #73
I think what you're seeing regarding the difference between the `accdb` and the `csv` is a bug. I'll investigate that further during the hack night this week. Not sure why those are being treated differently. Good catch.

In regards to the addresses, those just weren't on the list of things to scrub in open-austin/harris-county-bookings#4. But you're probably right. Those should probably be scrubb

[2016-08-22 16:03] mateoclarke commented on #73
Thinking back to the problem that @safeandfree is trying to solve...

I think getting @safeandfree set up with the full unabridged dataset to use either locally on her computer, or a privately accessible server (like the Azure SQL db) is what is needed.

@safeandfree will you be at the Civic Hack Night tomorrow? Just want to make sure what @colbywhite has been working on gets you a solution that w

[2016-08-22 16:09] mateoclarke commented on #74
@colbywhite, not sure where the Kuuki data comes from but @fileunderjeff would be a good contact. Maybe there is similar data available in Austin for air quality.

Austin Watershed Department collects data on Water Quality. Search "water" on data.austintexas.gov and there is a [bunch of data](https://data.austintexas.gov/browse?q=water&sortBy=relevance&utf8=%E2%9C%93).

One I pulled out one releva

[2016-08-22 17:23] safeandfree commented on #73
Yes Mateo is right about what I really need from this.

Yes, I will be at Civic Hack tomorrow evening. Sorry to have been a bit out of pocket. SO much going on.

Kathy Mitchell
Texas Criminal Justice Coalition | Grassroots Sentencing Campaign Coordinator
1714 Fortview Road, Suite 104
Austin, Texas 78704
Office: (512) 441-8123 Ext. 116
Fax: (512) 441-4884
www.TexasCJC.org<http://www.texascjc.org/>

[2016-08-22 17:48] fileunderjeff commented on #74
@colbywhite there are two kuukibot repos. [This repo on bitbucket](https://bitbucket.org/jamesvandyne/airbot) is for the scraper and database. It auto generates a URL, then parses the result and writes to a database. The data is publicly available as the result of [this form on TCEQ's website](http://www.tceq.state.tx.us/cgi-bin/compliance/monops/agc_daily_summary.pl), though Kuukibot takes hourly

[2016-08-22 22:09] decibel commented on #73
Useful background about PII: https://en.wikipedia.org/wiki/Personally_identifiable_information

I'm not an expert on PII (though I've worked on databases for 30 years), so I'm not sure if arrest records are exempted.

I will say that simply hiding the fact that the county is releasing all of this information is a **big dis-service** to the community. While this project doesn't necessarily have to

[2016-08-28 22:45] mateoclarke opened #77 "Transportation Game Night"
## Transportation Game Night

**Austin Monitor & Glasshouse Policy are hosting a Transportation Game Night at the Google Fiber space on Tuesday, October 18th.**

_RSVP details TBD_

This event is a mix of social, trivia, and participatory planning gatherings. Open Austin participated in the planning of a similar event in August, Budget Game Night, by "hacking together" [http://austinbudget.party/]

[2016-08-29 17:13] mateoclarke commented on #53
![](http://dsh.re/2d06d)
https://open-austin.slack.com/archives/general/p1472144813000354

@edireson and anyone else following this thread. It sounds like progress on this type of tool will be moving forward at our [Civic Hack Nights](http://www.meetup.com/Open-Austin/events/233028666/) coordinated by @sya & @avickers.

[2016-08-31 01:20] KidLogic commented on #77
Potential Categories:

- Past/Planned Construction (how do we form a question without
- Zoning Codes
- Surrounding Areas (proximity to government services)
- Avg rent in surrounding area and/or YoY rent increase
- History of Incidents (crime, fire, etc)
- Most small businesses (?)
- Proximity to moon tower
- Bus routes
- Traffic Volume (wait time, queue depth, speed limit)
- Sidewalk width
- Bike

[2016-08-31 01:24] mateoclarke commented on #77
https://github.com/open-austin/transpo-game-night

[2016-09-09 17:47] mateoclarke commented on #77
This morning, we had a meeting with the following parties to solidify the direction for the Transpo Game Night (which is now just 5 1/2 weeks away):

- Michael Kanin (Austin Monitor)
- Tom Visco & Grace Atkins (Glasshouse Policy)
- Jackie Nirenberg (CapMetro)
- Ben Holland (Rocky Mountain Institute)
- Cheyenne Krause, John Clary, Liane Miller (Austin Transportation Dept aka ATD)
- Me (Open Austin)

[2016-09-09 23:17] KidLogic commented on #77
@mateoclarke

Thanks for the update!

Based off of your discussion, would you still like me to proceed with aggregating data (see: https://github.com/open-austin/project-ideas/issues/77#issuecomment-243631207)? If not, I can readjust my efforts to focusing on streetmix.

With regards to Streetmix:
The fastest way of doing this, in my opinion, is to create an excel workbook that has inputs (e.g "si

[2016-09-10 20:40] johnclary commented on #77
happy to help with data wrangling and will be thinking about potential additional sources that Austin Transportation can provide.

once we get all the spatial data in one place it should be easy enough to associate  each intersection with the features within some distance of it,  e.g. 1000ft.

would be fund to makes maps, too.

[2016-09-10 20:42] KidLogic commented on #77
Sounds good. Raw data to be uploaded tonight

On Sat, Sep 10, 2016, 3:41 PM John Clary <notifications@github.com> wrote:

--

sent from mobile - excuse brevity and errors.

[2016-09-10 21:54] mateoclarke commented on #77
@KidLogic, I think data wraggling is still the right way to proceed at this point and the format you outlined sounds great.

But let's focus on getting data for the South Lamar & Barton Spring Road first. The other intersections need to be finalized and focusing on that one intersection will probably give us a good idea of what data is actually interesting or valuable before proceeding to the rest

[2016-09-14 01:22] VictoriaODell commented on #68
Latest Repo:
https://github.com/open-austin/permit-prereq-check

We are focusing specifically on pre-req requirements for permitting.

[2016-09-14 21:06] COA-Innovation opened #78 "Building a True Community Registry for Austin"
### What problem are we trying to solve?

The city's Community Registry is a cumbersome and outdated tool that makes meaningful community engagement efforts difficult, if not impossible. We are trying to find a way to create a modern, flexible and relevant community registry that serves all people and communities in Austin and inspires broader civic engagement while supporting current requirements

[2016-09-25 20:38] filmmoneypower commented on #65
interesting problem let's do it.

[2016-09-25 21:08] schludermann commented on #65
will there be some sort of meeting on this?

[2016-09-25 21:22] filmmoneypower commented on #65
good question lets talk  512.228.2576 give me a call

[2016-10-01 18:26] luqmaan opened #79 "List of animal intakes with images"
### What problem are we trying to solve?

There's an awesome dataset with animal center intakes. Unfortunately, it doesn't have pictures. Its also hard to filter.

The solution: make a UI that shows pictures of the animals/pets and lets you filter.

:cat2: Here's a start: http://luqmaan.com/pet-search :cat2:

Repo here: https://github.com/luqmaan/pet-search

### Who will benefit (directly and indi

[2016-10-01 18:34] werdnanoslen opened #80 "Mobile reporting boilerplate (mobile-map-io)"
## This project is actually mostly finished as-is: a boilerplate to start building on new ideas. This issue can stay open or be closed, but it probably won't be updated at all. So for now I'm going to add an abandoned label.

### What problem are we trying to solve?

Wasted time reinventing the wheel. The wheel is any mobile reporting application.
### Who will benefit (directly and indirectly) fro

[2016-10-03 03:04] luqmaan commented on #79
http://luqmaan.com/pet-search/

![image](https://cloud.githubusercontent.com/assets/1275831/19026492/322c6228-88ec-11e6-8a35-1dbc3dc2ddbf.png)

[2016-10-03 15:01] Woodley commented on #79
When putting images on the web please make sure they are accessible for
people with disabilities.
https://www.ada.gov/pcatoolkit/chap5toolkit.htm

Below I have included two emails, one  concerning Websites and the other
for Accessible Presentations that has good information to teach people how
to make things accessible.

Kind Regards,
John Woodley
Advocate for Disability Access

---------- Forward

[2016-10-05 04:55] mateoclarke commented on #77
_Closing this out_

The original idea wasn't incorporated into the scheduled Game Night, so the group has talked about how to pivot this effort. We should open a fresh project idea once that happens.

Conversation is active in our Slack org under [#transpo-game-night](https://open-austin.slack.com/messages/transpo-game-night/). _[Invite yourself to our slack here](https://slack.open-austin.org/)_

[2016-10-05 04:55] #77 closed

[2016-10-10 13:47] awoog opened #81 "Texas Justice Initiative"
### What problem are we trying to solve?

Increase access to information on who died in police encounters and jail and prison custody in Texas.
### Who will benefit (directly and indirectly) from this project?

General public, researchers, policymakers, journalists.
### Links to any research/data available/articles

http://www.texasjusticeinitiative.org
### What are the next steps (validation, res

[2016-10-13 17:09] mateoclarke commented on #36
Conversation around the need for City Council Vote Tracking has been kicked around.

One local civic org is starting to collect data on how Councilmembers vote on agenda items that of key interest to them.
http://www.atxfriends.org/austin-city-council-voting-record/

Once I get clear of some projects I want to pick this back up in November.

[2016-10-18 12:57] edireson commented on #56
Might warrant a separate issue, but tangentially related: a fork of this project for Austin would be 💯

https://github.com/infinitesunrise/carsinbikelanes/blob/master/README.md

[2016-10-18 13:27] rcboler commented on #56
@edireson, that does look interesting, though since that's a more aggressive take on improving bike safety than I'm used to seeing.

What happens with those violation reports? Would this tool encourage a sense of "bikes taddling on drivers", or is it simply somehow aggregated and shown to a few key people to identify what areas could use some infrastructure improvement?

[2016-10-18 13:45] edireson commented on #56
The "About" in the NYC version says something to the effect of "Not a replacement for calling 311 or talking to your elected officials"

I concur with your line of thinking: a hotspot map that could be used in policy efforts with Austin Transporation Dept.

[2016-10-18 16:06] laconc commented on #81
The full dataset is currently hosted [here](https://data.world/tji/tx-deaths-in-custody-2005-2015) at data.world.

We could use assistance in analyzing the data and coming up with some new conclusions.

[2016-10-18 17:34] dheerajchand commented on #81
Interested.

[2016-10-18 17:53] laconc commented on #81
That's fantastic Dheeraj! Since your interest is in the data analysis, would you mind continuing the conversation on [data.world](https://data.world/tji/tx-deaths-in-custody-2005-2015/discuss/2359)? I would love to know what kind of pattern immediately jumps out at you.

[2016-10-22 16:40] mateoclarke commented on #14
https://github.com/txappleseed/txappleseedmap

[2016-11-05 23:37] kgarrett commented on #81
I think another interesting component to this dataset is geographical and would be an excellent addition to the website. Include death_city as a filter? Could add Google Fusion map with death_address with longitude/latitude?

[2016-11-06 02:21] amaliebarras commented on #81
Awesome! We actually have been discussing exactly this in Slack. Are you in that channel?

Sent from my iPhone

[2016-11-06 03:13] kgarrett commented on #81
@amaliebarras Hmm... I was added to several channels today at the hackathon. Not sure about one for this specific project

[2016-11-06 16:02] dheerajchand commented on #81
If you find the channel, please invite me to it. @dheerajchand is my ID.

[2016-11-13 20:29] mscarey opened #82 "Supreme Court nominee citation exploration"
### What problem are we trying to solve?

We could make a guide to the most influential passages in opinions written by the judges on the [lists of potential Supreme Court nominees](http://www.cbsnews.com/news/donald-trump-expands-list-of-possible-supreme-court-picks/) that Trump issued during the campaign. I think potential research questions would be (1) what are the legal ideas most associated

[2016-11-30 01:04] sya opened #83 "Austin Healthy Food Access - Fresh for Less"
### What problem are we trying to solve?
**1.**
**Healthy food locations**
  * Help communities in need of healthier food options find 'healthy food locations' near them
  * Develop dynamic maps based on the locations

**2.**
**SNAP Application**
* Assess what makes the SNAP process so arduous, why aren't people using their SNAP benefits?
* Make the SNAP application an easier process for Austin re

[2016-11-30 17:25] Woodley commented on #83
Please define Communities. When you state communities all over Austin does
this include those without income, homeless, disabilities, low income,
those unable to obtain SNAP (food stamps), those that use SNAP (food
Stamps), WIC, etc... or does this only benefit those

In what way are you seeking to find healthier food options?
Restaurants?
Locating Food pantries? and the hours of operation.
Locati

[2016-12-07 01:31] werdnanoslen commented on #83
data is at https://data.world/cityofaustin/fresh-for-less

[2016-12-09 14:53] werdnanoslen commented on #80
I've made a big update to this project, it now has a bunch of performance, design, usability, and feature updates. See my dumpster diving app as an example of what you can do with this project: https://github.com/werdnanoslen/gleanhub/releases/tag/0.2

[2016-12-14 17:12] mariochampion opened #84 "Modernize the League of Women Voters guide"
### What problem are we trying to solve?

Over 80,000 people downloaded the 2016 LWV austin election guide pdf from their site, not counting those who grabbed it from both the Travis County elections and Austin American Statesman sites (and maybe others). It is a widely used document, but it is a **PDF**, and so not searchable, not API-able (or keyword/tag bot-friendly), not mobile-friendly, and,

[2016-12-14 18:54] VictoriaODell commented on #84
This is a great idea @mariochampion! Are you in the slack channel too? That might be a good place to recruit some people interested in getting involved.

[2016-12-14 20:39] bynines commented on #84
I'd love to help as design lead, if you're still in need.

[2016-12-15 02:51] bripenney commented on #84
Also would love to help with design!

[2016-12-15 02:51] mariochampion commented on #84
Hey Joshua,

Thanks! Just posted this today, so I ll certainly hit you up when it gets rolling.

Talk soon,
Mario

---
Pardon the brevity, sent from my secret hideout.

[2016-12-15 02:54] mariochampion commented on #84
Hey bripenny, (ha, Autocorrect wants your name to be "bro penny")

Thanks, I just posted this today so I ll email ya when it gets rolling and we can divvy up roles and figure out how to collaborate.

Talk soon,
Mario

---
Pardon the brevity, sent from my secret hideout.

[2016-12-15 02:58] mariochampion commented on #84
Hey,

Thanks -- the idea came from someone at meetup, don't recall exactly who mentioned it. Prolly Matteo will remember. (I m on phone so I can't @mention him)

I ll jump on the slack channel soon. I need to coordinate with Cinde first to get a better estimate on her timelines.

Talk soon,
Mario

---
Pardon the brevity, sent from my secret hideout.

[2016-12-15 16:57] mateoclarke commented on #84
I think it was @benguhin who threw out the observation that LoWV has excellent, well respected candidate information but abysmal design.

[2016-12-15 18:41] benguhin commented on #84
This is true! It would be awesome to work with them directly on how to format their content so it's more accessible and available (e.g., content APIs)

[2017-01-01 19:30] johnfilippone opened #85 "Distributed Public Opinion Collection Application Secured by a Block Chain"
### What problem are we trying to solve?

This will provide a source of public opinion data that you can trust.

In order to get reliable information about public opinion these days you have to look at a ton of different sources because you can't trust any single source.  This is great research practice but the purpose of this project is to create something that can be trusted by virtue of the fac

[2017-01-02 07:42] dheerajchand commented on #85
This is a great idea, but it’s going to run into conceptual problems. I worked in public opinion research for a very long time, so what I have to say is informed by that perspective. If it is not germane to what you are trying to accomplish, pardon the spam.1. Surveys, in order to be meaningful, have a lot of structure. Not only is it important how the questions are asked, with what phrasing, with

[2017-01-03 06:07] johnfilippone commented on #85
@dheerajchand Thanks for the perspective, I would like to talk with your further on this if you are up for it.  I'm also interested to get in touch with anyone you think would want to help out.

In response to your comments:
Addressing questions:  In my current vision, questions must be yes or no questions, must be very specific, must be absent of any assumptions, must be absent of any pre-loading

[2017-01-03 06:08] johnfilippone commented on #85
I will be at the meetup this Saurday 1/7/17 if anyone is interested in talking about this more.

[2017-01-03 10:11] dheerajchand commented on #85
More than happy to continue the conversation, but I am currently traveling for work through the end of January, so my ability to respond is mitigated.

From the instrument design perspective, binary questions are not particularly helpful, which we can go over in person when I get back. The problem with them is that they are not granular enough to provide useful and actionable information to guide

[2017-01-03 23:02] johnfilippone commented on #85
To expand on the vision here and in response to concerns about usefulness of the binary questions:

Perhaps it should not be used to guide decision making necessarily if that is the case.  I think that having simple yes/no questions is key to getting people to use it.  Perhaps the most important function of an application I believe is to act as a catalyst for political discussion and increased int

[2017-01-04 09:20] dheerajchand commented on #85
I want to make it very clear that I am not trying to say that your idea is bad, but, in fact, the opposite: your idea is _good_. I think that we can refine this into being a very, very valuable data collection tool that can be used for online surveys, which are looking to be the last viable means of survey methodology.

This is a hard problem, for sure. Defo looking forward to discussing upon retu

[2017-01-04 20:28] johnfilippone commented on #85
That is understood.  I'm trying not to come off as defensive over the idea.  I think it has a ways to go and should change and evolve until it is ready to be implemented.

[2017-01-12 01:56] mscarey opened #86 "Texas Bar State Registry"
### What problem are we trying to solve?

Putting the Texas State Bar's legal aid referral listings online in a more accessible and current form than the current PDF.

### Who will benefit (directly and indirectly) from this project?

People who need legal help, but aren't able to get access to a print copy of the referral directory and have trouble finding what they need in the PDF.

### Links to

[2017-01-13 14:00] Glaze-S opened #87 "Austin Community Organizing (website)"
### What problem are we trying to solve?
There are many groups organizing in Central Texas, many are first time organizers. it would be useful to have a tool that people can use to help coordinate and collaborate.

### Who will benefit (directly and indirectly) from this project?

Texas constituents at local, state, federal government. Community organizers. Community organizations. Policymakers wi

[2017-01-16 18:05] grantnorwood commented on #83
I'm interested in donating my time as a front-end/full-stack developer to improving access to healthy foods, and have cruised the data.world site and read what data seem to be currently available.  However, I'd like to know more about what ideal solutions have been researched so that I can think about how an app might solve some of the problems defined.

Solutions seem to revolve around location-b

[2017-01-23 20:10] poplav commented on #83
What is the current state regarding this proposal?  I am interested.
There seems to be overlap with another issue https://github.com/open-austin/project-ideas/issues/57

[2017-01-26 22:33] november9 opened #88 "Resistance Calendar"
## Web app for defending democracy from the Trump administration

**[Project Repo](https://github.com/november9/wecansavedemocracy)**

# **UPDATE**
## Efforts on this project have been halted, as the folks involved decided instead to join forces with **http://www.resistancecalendar.org**, which has gotten a ton of traction and is a heavily-visited website, thanks in big part to the media promotion

[2017-01-26 22:57] mateoclarke commented on #88
Thanks for making a submission! Seems like this could be a pretty non partisan solution to a problem for political event organizers and activists.

I really appreciate the work that has gone into the mockups so far. That really helps clarify your vision. https://docs.google.com/drawings/d/18aKq4ts9mo3d7j8q8ND-WAyaTnrhyrEH23iaM0WSb94/edit?usp=sharing

- What user data would be collected for this, i

[2017-01-26 23:24] november9 commented on #88
Thanks @mateoclarke! I suppose it could be non partisan, but I certainly wouldn't want it to be used by folks looking to organize support for a Muslim ban, anti-LGBT legislation, or any other far-right policies. So I suppose anyone who wanted to use this for another cause would have to recreate the back end, since as of right now (don't laugh), I am using WordPress as an API provider, since althou

[2017-01-27 16:54] mateoclarke commented on #88
Very cool. Could you [create some issues on your repo](https://github.com/november9/wecansavedemocracy/issues) with some discrete tasks you'd like help with? That will give us something to point people to.

Also, are you interested in coming to one of our upcoming hack events to collaborate with folks on this? The next one is our Civic Hack Saturday on Feb 4.
https://www.meetup.com/Open-Austin/eve

[2017-01-28 13:11] november9 commented on #88
Yes, I will definitely create some issues with discreet tasks. And I'd love to attend the hack event on Feb 4. I might not be able to stay the entire day, but I've got it on my calendar and looking forward to it very much.

Thanks!

[2017-01-28 14:22] november9 commented on #88
OK, repo updated with issues and a much more descriptive README.

[2017-01-31 16:03] bripenney commented on #88
I would love to help work on this as a designer. Right now there are a lot of email lists trying to do something like this, but nothing interactive. I'm going to try to come to the hack event on Saturday. What time would you probably be going? You can message me on Slack too @bripenney.

[2017-01-31 17:27] ticketsamson commented on #88
This is a great idea. Here is a link to a like-minded checklist: https://docs.google.com/document/d/1THRZKiF9oGQ6a1MBWFVIDHv5a8SuI2vLpIYUfx3Df00/preview

[2017-02-01 04:08] november9 commented on #88
@bripenney and @ticketsamson  - So great to hear that you guys are interested in the idea! I am shifting my schedule around so I can hopefully be there the whole time on Saturday, from 9am to 2pm.  @bripenney, would love to get your thoughts on the design. I've attached a PDF with what it looks like so far, which is just using Google's Material Design UI library and the library's "dark" theme. I k

[2017-02-01 05:53] mateoclarke commented on #87
Hi @DataloverAustin, It sounds like this project still needs initial research to learn what problems first time organizers experience. Have you done any more research since making this proposal? Do you know what existing tools are solutions this audience is using?

 At this point in time, what work is needed?

[2017-02-01 05:56] mateoclarke commented on #84
@mariochampion, any update from Cinde on the timeline for LWV?

[2017-02-02 01:32] amaliebarras commented on #44
I have some buddies interested in forking the food rescue project! My pal Dustin (compost pedallers) was telling me he started a meetup group to solve this problem, and I remembered this thread. Making a mental note of the project ideas repo win!

⚡️ 💡 ⚡️

[2017-02-02 05:54] ataetemadi commented on #44
Hi Amalie,
I would love to be involved.  Please do let them know I am here to assist in any way I can.
Kind regards 
Ata 

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Amalie Barras <notifications@github.com>
Date: 2/1/17  7:32 PM  (GMT-06:00)
To: open-austin/project-ideas <project-ideas@noreply.github.com>
Cc: ataetemadi <ata@divisionx.com>, Author <author@noreply

[2017-02-03 16:01] amaliebarras commented on #44
@ataetemadi I'd like to forward you an email with some information about this meetup group! That way you can plug in there and bring this idea to a group already working on it. Will you send your email address to amaliebarras (at) gmail . com?

[2017-02-04 18:33] mscarey opened #89 "Lead plumbing data requests"
### What problem are we trying to solve?

We don't know which buildings/areas in Austin are served by lead pipes, so it's hard for people to evaluate their health risks.

### Who will benefit (directly and indirectly) from this project?

People who want to determine whether the plumbing system serving their home is safe. Also people who want to research schools, workplaces, etc.

### Links to any

[2017-02-04 18:43] mudspringhiker commented on #74
Hello,

I would like to work on this dataset, if it's still on the table. I found the parameter ("E COLI BACTERIA) in the water quality sampling data from data.austintexas.gov that might be needed for what you want to make. I uploaded some of my work on my Github (https://github.com/mudspringhiker/water_quality_austin/blob/master/waterqualityatx.ipynb) and tried to zero in on Bull Creek as an exam

[2017-02-06 22:55] mateoclarke commented on #74
Hi Alona!

Thanks for commenting here with a link to your work! I'm not totally up to speed with Python Notebooks, so maybe you could talk me through what you did at an upcoming Open Austin event?

I'm thinking about how we could break this project into smaller pieces and recruit more help. These smaller pieces could be seperate services or part of one application that does the whole thing. Here a

[2017-02-06 23:09] mateoclarke commented on #83
@grantnorwood & @poplav, The best place to join in and see what help might be needed is in the Slack channel this group started.

https://open-austin.slack.com/messages/freshforless

Go to slack.open-austin.org if you haven't joined the Slack yet. Once you're there `@sya` and `@andy` will have the most info regarding the state of the project.

Best,
Mateo

[2017-02-08 01:29] mateoclarke commented on #87
Hey @DataloverAustin,

Here's a framework to organizing your research that has been helpful in the past, called the Civic Tech Planning Canvas:
https://www.open-austin.org/civic-tech-canvas/

If you'd like to keep this proposal open, please update us with what research you've done and how people can help.

[2017-02-08 01:37] mateoclarke commented on #47
Hey @haileypate, we're cleaning up the project-ideas repo. Have you been able to connect with anyone interested in this project?  What's the status?

[2017-02-08 04:47] mudspringhiker commented on #74
Hi Mateo,

Sure I can talk to you about what I did. I can't come to the meetup tomorrow, Wednesday. I'll check the schedule for the next one. I think your ideas above are all great!

Alona

[2017-02-08 04:53] mateoclarke commented on #74
No worries, I have to miss Wednesday too. But we can start chating in the [#waterquality](https://open-austin.slack.com/messages/waterquality/) channel and we can shoot for 2/21.

[2017-02-08 05:35] mateoclarke commented on #74
Repo created: https://github.com/open-austin/water-quality 🎉

[2017-02-08 05:48] mateoclarke commented on #86
Hey @mscarey, @hlupico, have we heard back on how the internal meeting went yet?

[2017-02-08 16:23] mariochampion commented on #84
hey @mateoclarke and all,
just heard back again from Cinde (LWV pres) and she is still "totally under water" with the surge of new members and efforts. They are only putting out a "very slim guide" for the May elections (which dont affect austin), so she thinks by March we can get together to talk about their process, changes that would be viable.

I ll let people on this thread know and we ll see

[2017-02-09 02:13] hlupico commented on #86
@mateoclarke - Katherine is still working with the IT department to get them on board with making the data public. Last week they agreed that they could routinely release a .csv file with the data needed to feed a digital referral directory until the IT department has the time to dedicate to making the data public. Katherine has another meeting set up this week to continue this conversation.

I wo

[2017-02-09 02:30] sya commented on #83
Hello @grantnorwood and @poplav I apologize for the radio silence! I've updated the project info. After some back and forth with the city we have a lot more direction.
1. Is a project we can definitely work on and we will have data for in April. We can start building the infrastructure for already (MAP-BASED TOOLS, SOME WEB DEVELOPMENT, etc)
2. This project is a lot more ambitious and would requir

[2017-02-09 17:58] MSKanin opened #90 "School Finance Adjustor"
### What problem are we trying to solve?

The formula used to calculate the redistribution of dollars from "rich" Texas public school districts to "poor" ones is inscrutable. We aim to both shed a light on how this all works, and allow users to reconfigure the distribution themselves.

### Who will benefit (directly and indirectly) from this project?

Anyone who lives in the State of Texas.

### L

[2017-02-09 20:25] mateoclarke commented on #86
@hlupico, thanks for the update!

I like that idea. Making it something that could apply to other State Bars service/referral directories would be great. And I could see a solution serving completely different needs.

There was a past Open Austin project that was basically a registry of non profit service providers in the Digital Inclusion space: https://github.com/DigitalInclusion/digitalatx

And

[2017-02-09 20:29] mateoclarke commented on #84
Cool thanks for the update!

[2017-02-22 02:00] amaliebarras commented on #1
The repo for this project hasn't had a commit in over 2 years. I'm going to remove all tags and add "inactive" but feel free to reverse if anyone would like to pick this back up.

[2017-02-22 02:19] amaliebarras commented on #2
Looks like this project hasn't had any activity in over a year. I'm going to mark it as "abandoned and needs love" but feel free to reverse if anyone would like to pick this back up. <3

[2017-02-28 00:32] amaliebarras commented on #7
Looks like there's been lots of discussion on this ... I can see benefit in hosting this data in a backup place like github, or even [data.world](http://data.world). Is anyone still interested in this project?

[2017-02-28 01:06] tracypholmes commented on #7
I actually created a cli gem based on the 2016 data [austin_crime](github.com/tracypholmes/austin_crime). It's not much, and I'm refactoring, but I made it work. I'm interested and would need some help as I'm not that familiar with Python and still learning things.

[2017-02-28 01:43] amaliebarras commented on #13
Hi! What's the status of this project? I know we have a fork of this repo [here](https://github.com/open-austin/mybuildingdoesntrecycle), but was it ever deployed? What's the relationship with [Recycling ATX](https://github.com/open-austin/recycling-atx)? Should interested parties head there?

[2017-02-28 01:53] amaliebarras commented on #22
Hey @prestonp what would it take to add the photos? What skills needed?

[2017-02-28 01:57] amaliebarras commented on #25
@haileypate can you post a link to this public issue tracker in the README? ❤️

[2017-02-28 02:04] amaliebarras commented on #26
@haileypate is [this](https://data.world/haileypate/data-portal-activity-metrics) said dataset of datasets? or are you still looking for help with building the tool to create these CSVs?

[2017-02-28 02:09] amaliebarras commented on #27
What's the best place to find budget data now @mateoclarke ? Is there a central source? Or is the dataset in the [budget party repo](https://github.com/open-austin/budgetparty/tree/master/data) the best place to point to?

[2017-02-28 02:36] amaliebarras commented on #7
Awesome! I'll at the Python label to this issue as well!

[2017-03-01 17:38] mateoclarke commented on #27
Hey @amaliebarras, this would be a seperate endeavor from the Budget Party project, but it would cool if they could converge is some way.

The centralized data on budget stuff still lives at [Austin Finance Online](https://austintexas.gov/financeonline/finance/financial_docs.cfm?ws=1&pg=1). I think the goal of this project would be to make that data more interactive and accessible.

[2017-03-01 17:38] mateoclarke commented on #27
![screen shot 2017-03-01 at 11 38 30 am](https://cloud.githubusercontent.com/assets/5697474/23472787/9bc3682e-fe73-11e6-94ef-22f637971ad1.png)

[2017-03-03 00:03] amaliebarras commented on #22
Thanks for the update @prestonp !

[2017-03-03 00:17] amaliebarras commented on #27
Gotchya. Couple more questions to make sure I understand:

So for budget.party did y'all have to dig the data out of that PDF?

Is it still true that there is no dataset that is currently being updated on the budget side of things?

[2017-03-03 00:19] amaliebarras commented on #31
@Marion3Sanchez Hi there! I know it's been a while, but I'm wondering where this project went and what the status currently is.

[2017-03-03 00:26] amaliebarras commented on #34
@VictoriaODell Howdy, is anyone leading this that you know of? Or can I mark it as "needs leadership"?

[2017-03-03 00:34] amaliebarras commented on #35
Does [this guy](https://github.com/werdnanoslen/mobile-map-io) accomplish the things that this idea suggested?

[2017-03-03 00:44] amaliebarras commented on #36
hi @davemcphee! I tried to follow your link to the mapper and got this series of errors. I noticed your code is no longer on that github link.

<img width="557" alt="screen shot 2017-03-02 at 6 40 11 pm" src="https://cloud.githubusercontent.com/assets/11826646/23533506/d3e3db94-ff77-11e6-814f-5e2abd642e94.png">
<img width="580" alt="screen shot 2017-03-02 at 6 40 28 pm" src="https://cloud.githubus

[2017-03-03 01:04] amaliebarras commented on #41
Hey @ericwg ! I'm tagging some of our project ideas with the status, topics, and skills required. Is this idea something you'd still like to see, and are you able to be the point of contact?

[2017-03-03 01:43] amaliebarras commented on #45
@davemcphee hi there! are you currently working on this project, or are you willing to be the point of contact if someone wants to? if so, is there a repo?

if not, may I tag this idea with "needs leadership" so someone else can move it forward if they'd like?

[2017-03-03 01:54] amaliebarras commented on #51
@durs125 do you have a github repository for the work you've done?

[2017-03-03 02:01] amaliebarras commented on #55
Hey @Shirley-R, I'm cleaning up the project ideas repo and want to add a status update to this thread. I know you came to a few hack nights to recruit last year, were you able to get anyone to work on it? Is there a repository of work I can link to in the README?